@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Candidatos2</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="Candidatos2.css"/>
<script id="applicationScript" type="text/javascript" src="Candidatos2.js"></script>
</head>
<body>
<div id="Candidatos2">
	<svg class="Elipse_25_">
		<linearGradient id="Elipse_25_" spreadMethod="pad" x1="0.5" x2="2.383" y1="0" y2="-0.898">
			<stop offset="0" stop-color="#df5c04" stop-opacity="1"></stop>
			<stop offset="0.1716" stop-color="#ffb300" stop-opacity="1"></stop>
			<stop offset="0.4393" stop-color="#e8ba04" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#e5cf05" stop-opacity="1"></stop>
		</linearGradient>
		<ellipse id="Elipse_25_" rx="1416.5" ry="1407" cx="1416.5" cy="1407">
		</ellipse>
	</svg>
	<svg class="Elipse_27">
		<ellipse id="Elipse_27" rx="1524" ry="1514" cx="1524" cy="1514">
		</ellipse>
	</svg>
	<svg class="Elipse_28">
		<ellipse id="Elipse_28" rx="1225.5" ry="1217.5" cx="1225.5" cy="1217.5">
		</ellipse>
	</svg>
	<svg class="Elipse_26">
		<ellipse id="Elipse_26" rx="1404" ry="1394" cx="1404" cy="1394">
		</ellipse>
	</svg>
	<svg class="Elipse_29">
		<ellipse id="Elipse_29" rx="1584" ry="1572.5" cx="1584" cy="1572.5">
		</ellipse>
	</svg>
	<svg class="Retngulo_16">
		<rect id="Retngulo_16" rx="0" ry="0" x="0" y="0" width="1920" height="848">
		</rect>
	</svg>
	<div id="Dark___ComponentHeader_Label" class="Dark______Component_Header_Label">
		<div id="Label_Left">
			<span>App Bars: Top</span>
		</div>
		<div id="Label_Left_">
			<span>Material Design</span>
		</div>
		<svg class="Divider">
			<rect id="Divider" rx="0" ry="0" x="0" y="0" width="904" height="1">
			</rect>
		</svg>
		<div id="ic_material_design_white_24dp">
			<svg class="Shape" viewBox="0 0 22.055 22.055">
				<path id="Shape" d="M 11.02680015563965 22.05450057983398 C 4.946599960327148 22.05450057983398 0 17.10749053955078 0 11.02680015563965 C 0 4.946599960327148 4.946599960327148 0 11.02680015563965 0 C 17.10749053955078 0 22.05450057983398 4.946599960327148 22.05450057983398 11.02680015563965 C 22.05450057983398 17.10749053955078 17.10749053955078 22.05450057983398 11.02680015563965 22.05450057983398 Z M 5.372999668121338 18.04409980773926 C 6.967049598693848 19.3371696472168 8.974940299987793 20.04930114746094 11.02680015563965 20.04930114746094 C 13.09897994995117 20.04930114746094 15.05403995513916 19.35590934753418 16.68060111999512 18.04409980773926 L 5.372999668121338 18.04409980773926 Z M 18.04409980773926 5.382899761199951 L 18.04409980773926 16.68060111999512 C 19.35530090332031 15.06515026092529 20.04930114746094 13.11032009124756 20.04930114746094 11.02680015563965 C 20.04930114746094 8.975000381469727 19.35590934753418 7.023369789123535 18.04409980773926 5.382899761199951 Z M 4.009500026702881 5.382899761199951 C 2.698280096054077 7.022639751434326 2.005200147628784 8.974269866943359 2.005200147628784 11.02680015563965 C 2.005200147628784 13.11007022857666 2.698270082473755 15.06512069702148 4.009500026702881 16.68060111999512 L 4.009500026702881 5.382899761199951 Z M 16.03890037536621 8.019900321960449 L 12.02939987182617 16.03890037536621 L 16.03890037536621 16.03890037536621 L 16.03890037536621 8.019900321960449 Z M 6.015051364898682 8.020603179931641 L 6.013929843902588 8.020870208740234 L 6.014699935913086 16.03890037536621 L 10.02420043945313 16.03890037536621 L 6.015051364898682 8.020603179931641 Z M 7.257599830627441 6.014699935913086 L 11.02680015563965 13.56300067901611 L 14.80590057373047 6.014699935913086 L 7.257599830627441 6.014699935913086 Z M 11.02680015563965 2.005200147628784 C 8.944470405578613 2.005200147628784 6.989419937133789 2.698270082473755 5.372999668121338 4.009500026702881 L 16.68060111999512 4.009500026702881 C 15.06587982177734 2.698889970779419 13.11104011535645 2.005200147628784 11.02680015563965 2.005200147628784 Z">
				</path>
			</svg>
		</div>
	</div>
	<svg class="Retngulo_7_bd">
		<linearGradient id="Retngulo_7_bd" spreadMethod="pad" x1="0.187" x2="0.85" y1="1" y2="17.637">
			<stop offset="0" stop-color="#df5c04" stop-opacity="1"></stop>
			<stop offset="0.1496" stop-color="#ffb300" stop-opacity="1"></stop>
			<stop offset="0.3794" stop-color="#e8ba04" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#e5cf05" stop-opacity="1"></stop>
		</linearGradient>
		<rect id="Retngulo_7_bd" rx="0" ry="0" x="0" y="0" width="1920" height="30">
		</rect>
	</svg>
	<svg class="Retngulo_8">
		<rect id="Retngulo_8" rx="0" ry="0" x="0" y="0" width="1920" height="90">
		</rect>
	</svg>
	<svg class="Retngulo_10">
		<rect id="Retngulo_10" rx="0" ry="0" x="0" y="0" width="1920" height="241">
		</rect>
	</svg>
	<img id="formato-do-escritorio-tem-a-ve" src="formato-do-escritorio-tem-a-ve.png" srcset="formato-do-escritorio-tem-a-ve.png 1x, formato-do-escritorio-tem-a-ve@2x.png 2x">
		
	<svg class="Icon_zocial-email" viewBox="0.072 4.068 28.061 18.942">
		<path id="Icon_zocial-email" d="M 0.07199999690055847 21.33212471008301 L 0.07199999690055847 5.745704174041748 C 0.07199999690055847 5.727664947509766 0.09905975311994553 5.556286334991455 0.1531792730093002 5.231568813323975 L 9.326436996459961 13.07889842987061 L 0.1802394390106201 21.87331962585449 C 0.1080800965428352 21.62076187133789 0.0720004215836525 21.44036293029785 0.0720004215836525 21.33212471008301 Z M 1.289688944816589 4.149179458618164 C 1.41596782207489 4.095059871673584 1.569306373596191 4.068000316619873 1.749704718589783 4.068000316619873 L 26.45526313781738 4.068000316619873 C 26.61762046813965 4.068000316619873 26.77997970581055 4.095059871673584 26.94233703613281 4.149179458618164 L 17.74202156066895 12.02356910705566 L 16.52433204650879 12.99771976470947 L 14.11601161956787 14.97308254241943 L 11.70769309997559 12.99771976470947 L 10.49000453948975 12.02356910705566 L 1.289688944816589 4.149179458618164 Z M 1.316748738288879 22.92864990234375 L 10.54412460327148 14.08011054992676 L 14.1160135269165 16.97550392150879 L 17.68790054321289 14.08011054992676 L 26.91527938842773 22.92864990234375 C 26.77096176147461 22.98276901245117 26.61762046813965 23.00982856750488 26.45526313781738 23.00982856750488 L 1.74970543384552 23.00982856750488 C 1.6053866147995 23.00982856750488 1.461068034172058 22.98276901245117 1.316749334335327 22.92864990234375 Z M 18.90559005737305 13.07889842987061 L 28.05178833007813 5.231569766998291 C 28.10591125488281 5.393928050994873 28.13296890258789 5.565306663513184 28.13296890258789 5.745705127716064 L 28.13296890258789 21.33212471008301 C 28.13296890258789 21.49448204040527 28.10591125488281 21.67488098144531 28.05178833007813 21.87331771850586 L 18.90559005737305 13.07889842987061 Z">
		</path>
	</svg>
	<div id="contatotakinamaocom">
		<span>contato@takinamao.com</span>
	</div>
	<img id="ID1" src="ID1.png" srcset="ID1.png 1x, ID1@2x.png 2x">
		
	<div id="Takinamao">
		<span>Takinamao</span>
	</div>
	<div id="a_Soluo">
		<span>a Solução</span>
	</div>
	<svg class="Retngulo_11">
		<rect id="Retngulo_11" rx="5" ry="5" x="0" y="0" width="436" height="33">
		</rect>
	</svg>
	<svg class="Retngulo_12">
		<rect id="Retngulo_12" rx="5" ry="5" x="0" y="0" width="436" height="33">
		</rect>
	</svg>
	<svg class="Icon_awesome-search" viewBox="0 0 31.091 33">
		<path id="Icon_awesome-search" d="M 30.66847229003906 28.53061103820801 L 24.61372756958008 22.10526275634766 C 24.3404426574707 21.81525230407715 23.96999168395996 21.65413475036621 23.58132362365723 21.65413475036621 L 22.59142875671387 21.65413475036621 C 24.2675666809082 19.3791618347168 25.26353454589844 16.51772117614746 25.26353454589844 13.40494060516357 C 25.26353454589844 6 19.60960388183594 0 12.63176727294922 0 C 5.653929710388184 0 0 6 0 13.40494060516357 C 0 20.80988121032715 5.653930187225342 26.80988121032715 12.63176727294922 26.80988121032715 C 15.56500720977783 26.80988121032715 18.26140594482422 25.75295257568359 20.4051628112793 23.97422027587891 L 20.4051628112793 25.02470207214355 C 20.4051628112793 25.43716239929199 20.55698776245117 25.83028793334961 20.83026885986328 26.12030029296875 L 26.8850154876709 32.54564666748047 C 27.45587539672852 33.15145111083984 28.37896537780762 33.15145111083984 28.94374847412109 32.54564666748047 L 30.66239738464355 30.7218017578125 C 31.2332592010498 30.11600112915039 31.2332592010498 29.13640975952148 30.66847229003906 28.53060913085938 Z M 12.63176727294922 21.65413475036621 C 8.338179588317871 21.65413475036621 4.858372211456299 17.96777534484863 4.858372211456299 13.40494060516357 C 4.858372211456299 8.848549842834473 8.332108497619629 5.155746459960938 12.63176727294922 5.155746459960938 C 16.92535400390625 5.155746459960938 20.4051628112793 8.842105865478516 20.4051628112793 13.40494060516357 C 20.4051628112793 17.96133232116699 16.93142509460449 21.65413475036621 12.63176727294922 21.65413475036621 Z">
		</path>
	</svg>
	<svg class="Retngulo_13">
		<rect id="Retngulo_13" rx="10" ry="10" x="0" y="0" width="41" height="33">
		</rect>
	</svg>
	<div id="Voc_merece_melhores_resultados">
		<span>Você merece melhores resultados de pesquisa</span>
	</div>
	<div onclick="application.goToTargetView(event)" id="HOME">
		<span>HOME</span>
	</div>
	<div onclick="application.goToTargetView(event)" id="EMPREGOS">
		<span>EMPREGOS</span>
	</div>
	<div onclick="application.goToTargetView(event)" id="CONTATO">
		<span>CONTATO</span>
	</div>
	<div onclick="application.goToTargetView(event)" id="EMPREGADORES">
		<span>EMPREGADORES</span>
	</div>
	<div id="Takinamao_bv">
		<span>Takinamao</span>
	</div>
	<div id="Quem_somos">
		<span>Quem somos</span>
	</div>
	<div id="Para_que_servimos">
		<span>Para que servimos</span>
	</div>
	<div id="Recursos">
		<span>Recursos</span>
	</div>
	<div onclick="application.goToTargetView(event)" id="Sobre_ns">
		<span>Sobre nós</span>
	</div>
	<div onclick="application.goToTargetView(event)" id="Contate-nos">
		<span>Contate-nos</span>
	</div>
	<div onclick="application.goToTargetView(event)" id="Candidatos">
		<span>Candidatos</span>
	</div>
	<div onclick="application.goToTargetView(event)" id="Empregadores">
		<span>Empregadores</span>
	</div>
	<div id="Como_publicar_vagas">
		<span>Como publicar vagas</span>
	</div>
	<div id="Como_Anunciar_Publicidade">
		<span>Como Anunciar Publicidade</span>
	</div>
	<div id="Cargo_empresa_ou_palavra-chave">
		<span>Cargo, empresa ou palavra-chave</span>
	</div>
	<div id="Cidade_estado_ou_CEP">
		<span>Cidade, estado ou CEP</span>
	</div>
	<svg class="Elipse_36">
		<ellipse id="Elipse_36" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
		</ellipse>
	</svg>
	<svg class="Elipse_37">
		<ellipse id="Elipse_37" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
		</ellipse>
	</svg>
	<svg class="Elipse_38">
		<ellipse id="Elipse_38" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
		</ellipse>
	</svg>
	<svg class="Elipse_39">
		<ellipse id="Elipse_39" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
		</ellipse>
	</svg>
	<svg class="Elipse_40">
		<ellipse id="Elipse_40" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
		</ellipse>
	</svg>
	<svg class="Elipse_41">
		<ellipse id="Elipse_41" rx="7.5" ry="7.5" cx="7.5" cy="7.5">
		</ellipse>
	</svg>
	<div onclick="application.goToTargetView(event)" id="ENTRAR">
		<span>ENTRAR</span>
	</div>
	<div id="Grupo_362">
		<svg class="Retngulo_19_cg">
			<linearGradient id="Retngulo_19_cg" spreadMethod="pad" x1="0.1" x2="0.763" y1="0.105" y2="0.224">
				<stop offset="0" stop-color="#ff6f00" stop-opacity="1"></stop>
				<stop offset="0.2761" stop-color="#f70" stop-opacity="1"></stop>
				<stop offset="1" stop-color="#fe0" stop-opacity="1"></stop>
			</linearGradient>
			<rect id="Retngulo_19_cg" rx="0" ry="0" x="0" y="0" width="752" height="126">
			</rect>
		</svg>
		<svg class="Retngulo_18">
			<rect id="Retngulo_18" rx="0" ry="0" x="0" y="0" width="748" height="122">
			</rect>
		</svg>
		<svg class="Linha_3" viewBox="0 0 748.62 1">
			<path id="Linha_3" d="M 0 0 L 748.6202392578125 0">
			</path>
		</svg>
	</div>
	<div id="Grupo_361">
		<svg class="Retngulo_19_cl">
			<linearGradient id="Retngulo_19_cl" spreadMethod="pad" x1="0.1" x2="0.763" y1="0.105" y2="0.224">
				<stop offset="0" stop-color="#ff6f00" stop-opacity="1"></stop>
				<stop offset="0.2761" stop-color="#f70" stop-opacity="1"></stop>
				<stop offset="1" stop-color="#fe0" stop-opacity="1"></stop>
			</linearGradient>
			<rect id="Retngulo_19_cl" rx="0" ry="0" x="0" y="0" width="752" height="126">
			</rect>
		</svg>
		<svg class="Retngulo_18_cm">
			<rect id="Retngulo_18_cm" rx="0" ry="0" x="0" y="0" width="748" height="122">
			</rect>
		</svg>
		<svg class="Linha_3_cn" viewBox="0 0 748.62 1">
			<path id="Linha_3_cn" d="M 0 0 L 748.6202392578125 0">
			</path>
		</svg>
	</div>
	<div id="Grupo_360">
		<svg class="Retngulo_19_cq">
			<linearGradient id="Retngulo_19_cq" spreadMethod="pad" x1="0.1" x2="0.763" y1="0.105" y2="0.224">
				<stop offset="0" stop-color="#ff6f00" stop-opacity="1"></stop>
				<stop offset="0.2761" stop-color="#f70" stop-opacity="1"></stop>
				<stop offset="1" stop-color="#fe0" stop-opacity="1"></stop>
			</linearGradient>
			<rect id="Retngulo_19_cq" rx="0" ry="0" x="0" y="0" width="752" height="126">
			</rect>
		</svg>
		<svg class="Retngulo_18_cr">
			<rect id="Retngulo_18_cr" rx="0" ry="0" x="0" y="0" width="748" height="122">
			</rect>
		</svg>
		<svg class="Linha_3_cs" viewBox="0 0 748.62 1">
			<path id="Linha_3_cs" d="M 0 0 L 748.6202392578125 0">
			</path>
		</svg>
	</div>
	<div id="Grupo_359">
		<svg class="Retngulo_19_cv">
			<linearGradient id="Retngulo_19_cv" spreadMethod="pad" x1="0.1" x2="0.763" y1="0.105" y2="0.224">
				<stop offset="0" stop-color="#ff6f00" stop-opacity="1"></stop>
				<stop offset="0.2761" stop-color="#f70" stop-opacity="1"></stop>
				<stop offset="1" stop-color="#fe0" stop-opacity="1"></stop>
			</linearGradient>
			<rect id="Retngulo_19_cv" rx="0" ry="0" x="0" y="0" width="752" height="126">
			</rect>
		</svg>
		<svg class="Retngulo_18_cw">
			<rect id="Retngulo_18_cw" rx="0" ry="0" x="0" y="0" width="748" height="122">
			</rect>
		</svg>
		<svg class="Linha_3_cx" viewBox="0 0 748.62 1">
			<path id="Linha_3_cx" d="M 0 0 L 748.6202392578125 0">
			</path>
		</svg>
	</div>
	<div id="Grupo_358">
		<svg class="Retngulo_19_c">
			<linearGradient id="Retngulo_19_c" spreadMethod="pad" x1="0.1" x2="0.763" y1="0.105" y2="0.224">
				<stop offset="0" stop-color="#ff6f00" stop-opacity="1"></stop>
				<stop offset="0.2761" stop-color="#f70" stop-opacity="1"></stop>
				<stop offset="1" stop-color="#fe0" stop-opacity="1"></stop>
			</linearGradient>
			<rect id="Retngulo_19_c" rx="0" ry="0" x="0" y="0" width="752" height="126">
			</rect>
		</svg>
		<svg class="Retngulo_18_c">
			<rect id="Retngulo_18_c" rx="0" ry="0" x="0" y="0" width="748" height="122">
			</rect>
		</svg>
		<svg class="Linha_3_c" viewBox="0 0 748.62 1">
			<path id="Linha_3_c" d="M 0 0 L 748.6202392578125 0">
			</path>
		</svg>
	</div>
	<div id="Grupo_357">
		<svg class="Retngulo_19_db">
			<linearGradient id="Retngulo_19_db" spreadMethod="pad" x1="0.1" x2="0.763" y1="0.105" y2="0.224">
				<stop offset="0" stop-color="#ff6f00" stop-opacity="1"></stop>
				<stop offset="0.2761" stop-color="#f70" stop-opacity="1"></stop>
				<stop offset="1" stop-color="#fe0" stop-opacity="1"></stop>
			</linearGradient>
			<rect id="Retngulo_19_db" rx="0" ry="0" x="0" y="0" width="752" height="126">
			</rect>
		</svg>
		<svg class="Retngulo_18_da">
			<rect id="Retngulo_18_da" rx="0" ry="0" x="0" y="0" width="748" height="122">
			</rect>
		</svg>
		<svg class="Linha_3_da" viewBox="0 0 748.62 1">
			<path id="Linha_3_da" d="M 0 0 L 748.6202392578125 0">
			</path>
		</svg>
	</div>
	<div id="Jos_Antnio">
		<span>José Antônio</span>
	</div>
	<div id="Jos_Antnio_c">
		<span>José Antônio</span>
	</div>
	<div id="Jos_Antnio_da">
		<span>José Antônio</span>
	</div>
	<div id="Jos_Antnio_db">
		<span>José Antônio</span>
	</div>
	<div id="Jos_Antnio_dc">
		<span>José Antônio</span>
	</div>
	<div id="Jos_Antnio_dd">
		<span>José Antônio</span>
	</div>
	<div id="Encanador">
		<span>Encanador</span>
	</div>
	<div id="Encanador_df">
		<span>Encanador</span>
	</div>
	<div id="Encanador_dg">
		<span>Encanador</span>
	</div>
	<div id="Encanador_dh">
		<span>Encanador</span>
	</div>
	<div id="Encanador_di">
		<span>Encanador</span>
	</div>
	<div id="Encanador_dj">
		<span>Encanador</span>
	</div>
	<div id="Trabalhei_na_empresa_x_arruman">
		<span>Trabalhei na empresa x, arrumando blah blah blah...</span>
	</div>
	<div id="Trabalhei_na_empresa_x_arruman_dl">
		<span>Trabalhei na empresa x, arrumando blah blah blah...</span>
	</div>
	<div id="Trabalhei_na_empresa_x_arruman_dm">
		<span>Trabalhei na empresa x, arrumando blah blah blah...</span>
	</div>
	<div id="Trabalhei_na_empresa_x_arruman_dn">
		<span>Trabalhei na empresa x, arrumando blah blah blah...</span>
	</div>
	<div id="Trabalhei_na_empresa_x_arruman_do">
		<span>Trabalhei na empresa x, arrumando blah blah blah...</span>
	</div>
	<div id="Trabalhei_na_empresa_x_arruman_dp">
		<span>Trabalhei na empresa x, arrumando blah blah blah...</span>
	</div>
	<div id="btn_vervagas" class="btn_vervagas">
		<svg class="Polgono_2_ds" viewBox="0 0 121 118">
			<linearGradient id="Polgono_2_ds" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
				<stop offset="0" stop-color="#ff9100" stop-opacity="1"></stop>
				<stop offset="0.3849" stop-color="#f90" stop-opacity="1"></stop>
				<stop offset="1" stop-color="#fff700" stop-opacity="1"></stop>
			</linearGradient>
			<path id="Polgono_2_ds" d="M 60.49999618530273 0 L 121 118 L 0 118 Z">
			</path>
		</svg>
		<div id="VER_CANDIDATO">
			<span>VER CANDIDATO</span>
		</div>
	</div>
	<div id="btn_vervagas_du" class="btn_vervagas">
		<svg class="Polgono_2_dw" viewBox="0 0 121 118">
			<linearGradient id="Polgono_2_dw" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
				<stop offset="0" stop-color="#ff9100" stop-opacity="1"></stop>
				<stop offset="0.3849" stop-color="#f90" stop-opacity="1"></stop>
				<stop offset="1" stop-color="#fff700" stop-opacity="1"></stop>
			</linearGradient>
			<path id="Polgono_2_dw" d="M 60.49999618530273 0 L 121 118 L 0 118 Z">
			</path>
		</svg>
		<div id="VER_CANDIDATO_dx">
			<span>VER CANDIDATO</span>
		</div>
	</div>
	<div id="btn_vervagas_dy" class="btn_vervagas">
		<svg class="Polgono_2_d" viewBox="0 0 121 118">
			<linearGradient id="Polgono_2_d" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
				<stop offset="0" stop-color="#ff9100" stop-opacity="1"></stop>
				<stop offset="0.3849" stop-color="#f90" stop-opacity="1"></stop>
				<stop offset="1" stop-color="#fff700" stop-opacity="1"></stop>
			</linearGradient>
			<path id="Polgono_2_d" d="M 60.49999618530273 0 L 121 118 L 0 118 Z">
			</path>
		</svg>
		<div id="VER_CANDIDATO_d">
			<span>VER CANDIDATO</span>
		</div>
	</div>
	<div id="btn_vervagas_d" class="btn_vervagas">
		<svg class="Polgono_2_eb" viewBox="0 0 121 118">
			<linearGradient id="Polgono_2_eb" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
				<stop offset="0" stop-color="#ff9100" stop-opacity="1"></stop>
				<stop offset="0.3849" stop-color="#f90" stop-opacity="1"></stop>
				<stop offset="1" stop-color="#fff700" stop-opacity="1"></stop>
			</linearGradient>
			<path id="Polgono_2_eb" d="M 60.49999618530273 0 L 121 118 L 0 118 Z">
			</path>
		</svg>
		<div id="VER_CANDIDATO_ea">
			<span>VER CANDIDATO</span>
		</div>
	</div>
	<div id="btn_vervagas_ea" class="btn_vervagas">
		<svg class="Polgono_2_ed" viewBox="0 0 121 118">
			<linearGradient id="Polgono_2_ed" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
				<stop offset="0" stop-color="#ff9100" stop-opacity="1"></stop>
				<stop offset="0.3849" stop-color="#f90" stop-opacity="1"></stop>
				<stop offset="1" stop-color="#fff700" stop-opacity="1"></stop>
			</linearGradient>
			<path id="Polgono_2_ed" d="M 60.49999618530273 0 L 121 118 L 0 118 Z">
			</path>
		</svg>
		<div id="VER_CANDIDATO_eb">
			<span>VER CANDIDATO</span>
		</div>
	</div>
	<div id="btn_vervagas_eb" class="btn_vervagas">
		<svg class="Polgono_2_ef" viewBox="0 0 121 118">
			<linearGradient id="Polgono_2_ef" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
				<stop offset="0" stop-color="#ff9100" stop-opacity="1"></stop>
				<stop offset="0.3849" stop-color="#f90" stop-opacity="1"></stop>
				<stop offset="1" stop-color="#fff700" stop-opacity="1"></stop>
			</linearGradient>
			<path id="Polgono_2_ef" d="M 60.49999618530273 0 L 121 118 L 0 118 Z">
			</path>
		</svg>
		<div id="VER_CANDIDATO_ed">
			<span>VER CANDIDATO</span>
		</div>
	</div>
	<div onclick="application.goToTargetView(event)" id="Componente_109__11" class="Componente_109___11">
		<svg class="Polgono_3" viewBox="0 0 194 114">
			<path id="Polgono_3" d="M 96.99999237060547 0 L 194 114 L 0 114 Z">
			</path>
		</svg>
	</div>
	<div id="Componente_109__12" class="Componente_109___12">
		<svg class="Polgono_3_eh" viewBox="0 0 194 114">
			<path id="Polgono_3_eh" d="M 96.99999237060547 0 L 194 114 L 0 114 Z">
			</path>
		</svg>
	</div>
</div>
</body>
</html>


Messages:
1. Exported image: formato-do-escritorio-tem-a-ve.png (547.6k)
2. Exported image: formato-do-escritorio-tem-a-ve@2x.png (492.2k)
3. Exported image: ID1.png (4.9k)
4. Exported image: ID1@2x.png (15.1k)
5. Exported image: Total image size 552.5k

Warnings:
1. ID truncated: The auto generated ID starting with 'formato-do-escritor…' was truncated
2. Border support: Border position "inside" on "Retngulo_13"  is not supported
3. ID truncated: The auto generated ID starting with 'Voc_merece_melhores…' was truncated
4. ID truncated: The auto generated ID starting with 'Trabalhei_na_empres…' was truncated
5. ID truncated: The auto generated ID starting with 'Trabalhei_na_empres…' was truncated
6. ID truncated: The auto generated ID starting with 'Trabalhei_na_empres…' was truncated
7. ID truncated: The auto generated ID starting with 'Trabalhei_na_empres…' was truncated
8. ID truncated: The auto generated ID starting with 'Trabalhei_na_empres…' was truncated
9. ID truncated: The auto generated ID starting with 'Trabalhei_na_empres…' was truncated
10. Rotation support: Rotation not fully supported on all elements. Confirm valid rotation, remove rotation, commit the rotation, adjust the position manually or use the export as image feature" on "Componente_109__12"
11. Duplicate ID: The Ellipse named, "Elipse 25" on artboard, "Candidatos2" was renamed to, "Elipse_25_"
12. Duplicate ID: The Text named, "Label Left" on artboard, "Candidatos2" was renamed to, "Label_Left_"
13. Duplicate ID: The Rectangle named, "Retângulo 7" on artboard, "Candidatos2" was renamed to, "Retngulo_7_bd"
14. Duplicate ID: The Text named, "Takinamao" on artboard, "Candidatos2" was renamed to, "Takinamao_bv"
15. Duplicate ID: The Rectangle named, "Retângulo 19" on artboard, "Candidatos2" was renamed to, "Retngulo_19_cg"
16. Duplicate ID: The Rectangle named, "Retângulo 19" on artboard, "Candidatos2" was renamed to, "Retngulo_19_ck"
17. Duplicate ID: The Rectangle named, "Retângulo 19" on artboard, "Candidatos2" was renamed to, "Retngulo_19_cl"
18. Duplicate ID: The Rectangle named, "Retângulo 18" on artboard, "Candidatos2" was renamed to, "Retngulo_18_cm"
19. Duplicate ID: The Line named, "Linha 3" on artboard, "Candidatos2" was renamed to, "Linha_3_cn"
20. Duplicate ID: The Rectangle named, "Retângulo 19" on artboard, "Candidatos2" was renamed to, "Retngulo_19_cp"
21. Duplicate ID: The Rectangle named, "Retângulo 19" on artboard, "Candidatos2" was renamed to, "Retngulo_19_cq"
22. Duplicate ID: The Rectangle named, "Retângulo 18" on artboard, "Candidatos2" was renamed to, "Retngulo_18_cr"
23. Duplicate ID: The Line named, "Linha 3" on artboard, "Candidatos2" was renamed to, "Linha_3_cs"
24. Duplicate ID: The Rectangle named, "Retângulo 19" on artboard, "Candidatos2" was renamed to, "Retngulo_19_cu"
25. Duplicate ID: The Rectangle named, "Retângulo 19" on artboard, "Candidatos2" was renamed to, "Retngulo_19_cv"
26. Duplicate ID: The Rectangle named, "Retângulo 18" on artboard, "Candidatos2" was renamed to, "Retngulo_18_cw"
27. Duplicate ID: The Line named, "Linha 3" on artboard, "Candidatos2" was renamed to, "Linha_3_cx"
28. Duplicate ID: The Rectangle named, "Retângulo 19" on artboard, "Candidatos2" was renamed to, "Retngulo_19_cz"
29. Duplicate ID: The Rectangle named, "Retângulo 19" on artboard, "Candidatos2" was renamed to, "Retngulo_19_c"
30. Duplicate ID: The Rectangle named, "Retângulo 18" on artboard, "Candidatos2" was renamed to, "Retngulo_18_c"
31. Duplicate ID: The Line named, "Linha 3" on artboard, "Candidatos2" was renamed to, "Linha_3_c"
32. Duplicate ID: The Rectangle named, "Retângulo 19" on artboard, "Candidatos2" was renamed to, "Retngulo_19_da"
33. Duplicate ID: The Rectangle named, "Retângulo 19" on artboard, "Candidatos2" was renamed to, "Retngulo_19_db"
34. Duplicate ID: The Rectangle named, "Retângulo 18" on artboard, "Candidatos2" was renamed to, "Retngulo_18_da"
35. Duplicate ID: The Line named, "Linha 3" on artboard, "Candidatos2" was renamed to, "Linha_3_da"
36. Duplicate ID: The Text named, "José Antônio" on artboard, "Candidatos2" was renamed to, "Jos_Antnio_c"
37. Duplicate ID: The Text named, "José Antônio" on artboard, "Candidatos2" was renamed to, "Jos_Antnio_da"
38. Duplicate ID: The Text named, "José Antônio" on artboard, "Candidatos2" was renamed to, "Jos_Antnio_db"
39. Duplicate ID: The Text named, "José Antônio" on artboard, "Candidatos2" was renamed to, "Jos_Antnio_dc"
40. Duplicate ID: The Text named, "José Antônio" on artboard, "Candidatos2" was renamed to, "Jos_Antnio_dd"
41. Duplicate ID: The Text named, "Encanador" on artboard, "Candidatos2" was renamed to, "Encanador_df"
42. Duplicate ID: The Text named, "Encanador" on artboard, "Candidatos2" was renamed to, "Encanador_dg"
43. Duplicate ID: The Text named, "Encanador" on artboard, "Candidatos2" was renamed to, "Encanador_dh"
44. Duplicate ID: The Text named, "Encanador" on artboard, "Candidatos2" was renamed to, "Encanador_di"
45. Duplicate ID: The Text named, "Encanador" on artboard, "Candidatos2" was renamed to, "Encanador_dj"
46. Duplicate ID: The Text named, "Trabalhei na empresa x, arrumando blah blah blah.…" on artboard, "Candidatos2" was renamed to, "Trabalhei_na_empresa_x_arruman_dl"
47. Duplicate ID: The Text named, "Trabalhei na empresa x, arrumando blah blah blah.…" on artboard, "Candidatos2" was renamed to, "Trabalhei_na_empresa_x_arruman_dm"
48. Duplicate ID: The Text named, "Trabalhei na empresa x, arrumando blah blah blah.…" on artboard, "Candidatos2" was renamed to, "Trabalhei_na_empresa_x_arruman_dn"
49. Duplicate ID: The Text named, "Trabalhei na empresa x, arrumando blah blah blah.…" on artboard, "Candidatos2" was renamed to, "Trabalhei_na_empresa_x_arruman_do"
50. Duplicate ID: The Text named, "Trabalhei na empresa x, arrumando blah blah blah.…" on artboard, "Candidatos2" was renamed to, "Trabalhei_na_empresa_x_arruman_dp"
51. Duplicate ID: The Polygon named, "Polígono 2" on artboard, "Candidatos2" was renamed to, "Polgono_2_ds"
52. Duplicate ID: The SymbolInstance named, "btn_vervagas" on artboard, "Candidatos2" was renamed to, "btn_vervagas_du"
53. Duplicate ID: The Polygon named, "Polígono 2" on artboard, "Candidatos2" was renamed to, "Polgono_2_dv"
54. Duplicate ID: The Polygon named, "Polígono 2" on artboard, "Candidatos2" was renamed to, "Polgono_2_dw"
55. Duplicate ID: The Text named, "VER CANDIDATO" on artboard, "Candidatos2" was renamed to, "VER_CANDIDATO_dx"
56. Duplicate ID: The SymbolInstance named, "btn_vervagas" on artboard, "Candidatos2" was renamed to, "btn_vervagas_dy"
57. Duplicate ID: The Polygon named, "Polígono 2" on artboard, "Candidatos2" was renamed to, "Polgono_2_dz"
58. Duplicate ID: The Polygon named, "Polígono 2" on artboard, "Candidatos2" was renamed to, "Polgono_2_d"
59. Duplicate ID: The Text named, "VER CANDIDATO" on artboard, "Candidatos2" was renamed to, "VER_CANDIDATO_d"
60. Duplicate ID: The SymbolInstance named, "btn_vervagas" on artboard, "Candidatos2" was renamed to, "btn_vervagas_d"
61. Duplicate ID: The Polygon named, "Polígono 2" on artboard, "Candidatos2" was renamed to, "Polgono_2_ea"
62. Duplicate ID: The Polygon named, "Polígono 2" on artboard, "Candidatos2" was renamed to, "Polgono_2_eb"
63. Duplicate ID: The Text named, "VER CANDIDATO" on artboard, "Candidatos2" was renamed to, "VER_CANDIDATO_ea"
64. Duplicate ID: The SymbolInstance named, "btn_vervagas" on artboard, "Candidatos2" was renamed to, "btn_vervagas_ea"
65. Duplicate ID: The Polygon named, "Polígono 2" on artboard, "Candidatos2" was renamed to, "Polgono_2_ec"
66. Duplicate ID: The Polygon named, "Polígono 2" on artboard, "Candidatos2" was renamed to, "Polgono_2_ed"
67. Duplicate ID: The Text named, "VER CANDIDATO" on artboard, "Candidatos2" was renamed to, "VER_CANDIDATO_eb"
68. Duplicate ID: The SymbolInstance named, "btn_vervagas" on artboard, "Candidatos2" was renamed to, "btn_vervagas_eb"
69. Duplicate ID: The Polygon named, "Polígono 2" on artboard, "Candidatos2" was renamed to, "Polgono_2_ee"
70. Duplicate ID: The Polygon named, "Polígono 2" on artboard, "Candidatos2" was renamed to, "Polgono_2_ef"
71. Duplicate ID: The Text named, "VER CANDIDATO" on artboard, "Candidatos2" was renamed to, "VER_CANDIDATO_ed"
72. Duplicate ID: The Polygon named, "Polígono 3" on artboard, "Candidatos2" was renamed to, "Polgono_3_eh"
