@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Contato</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="Contato.css"/>
<script id="applicationScript" type="text/javascript" src="Contato.js"></script>
</head>
<body>
<div id="Contato">
	<div id="Grupo_369">
		<svg class="Elipse_25_">
			<linearGradient id="Elipse_25_" spreadMethod="pad" x1="0.5" x2="2.383" y1="0" y2="-0.898">
				<stop offset="0" stop-color="#df5c04" stop-opacity="1"></stop>
				<stop offset="0.1716" stop-color="#ffb300" stop-opacity="1"></stop>
				<stop offset="0.4393" stop-color="#e8ba04" stop-opacity="1"></stop>
				<stop offset="1" stop-color="#e5cf05" stop-opacity="1"></stop>
			</linearGradient>
			<ellipse id="Elipse_25_" rx="1416.5" ry="1407" cx="1416.5" cy="1407">
			</ellipse>
		</svg>
		<svg class="Elipse_27">
			<ellipse id="Elipse_27" rx="1524" ry="1514" cx="1524" cy="1514">
			</ellipse>
		</svg>
		<svg class="Elipse_28">
			<ellipse id="Elipse_28" rx="1225.5" ry="1217.5" cx="1225.5" cy="1217.5">
			</ellipse>
		</svg>
		<svg class="Elipse_26">
			<ellipse id="Elipse_26" rx="1404" ry="1394" cx="1404" cy="1394">
			</ellipse>
		</svg>
		<svg class="Elipse_29">
			<ellipse id="Elipse_29" rx="1584" ry="1572.5" cx="1584" cy="1572.5">
			</ellipse>
		</svg>
	</div>
	<svg class="Retngulo_16">
		<rect id="Retngulo_16" rx="0" ry="0" x="0" y="0" width="1920" height="860">
		</rect>
	</svg>
	<div id="Dark___ComponentHeader_Label" class="Dark______Component_Header_Label">
		<div id="Label_Left">
			<span>App Bars: Top</span>
		</div>
		<div id="Label_Left_">
			<span>Material Design</span>
		</div>
		<svg class="Divider">
			<rect id="Divider" rx="0" ry="0" x="0" y="0" width="904" height="1">
			</rect>
		</svg>
		<div id="ic_material_design_white_24dp">
			<svg class="Shape" viewBox="0 0 22.055 22.055">
				<path id="Shape" d="M 11.02680015563965 22.05450057983398 C 4.946599960327148 22.05450057983398 0 17.10749053955078 0 11.02680015563965 C 0 4.946599960327148 4.946599960327148 0 11.02680015563965 0 C 17.10749053955078 0 22.05450057983398 4.946599960327148 22.05450057983398 11.02680015563965 C 22.05450057983398 17.10749053955078 17.10749053955078 22.05450057983398 11.02680015563965 22.05450057983398 Z M 5.372999668121338 18.04409980773926 C 6.967049598693848 19.3371696472168 8.974940299987793 20.04930114746094 11.02680015563965 20.04930114746094 C 13.09897994995117 20.04930114746094 15.05403995513916 19.35590934753418 16.68060111999512 18.04409980773926 L 5.372999668121338 18.04409980773926 Z M 18.04409980773926 5.382899761199951 L 18.04409980773926 16.68060111999512 C 19.35530090332031 15.06515026092529 20.04930114746094 13.11032009124756 20.04930114746094 11.02680015563965 C 20.04930114746094 8.975000381469727 19.35590934753418 7.023369789123535 18.04409980773926 5.382899761199951 Z M 4.009500026702881 5.382899761199951 C 2.698280096054077 7.022639751434326 2.005200147628784 8.974269866943359 2.005200147628784 11.02680015563965 C 2.005200147628784 13.11007022857666 2.698270082473755 15.06512069702148 4.009500026702881 16.68060111999512 L 4.009500026702881 5.382899761199951 Z M 16.03890037536621 8.019900321960449 L 12.02939987182617 16.03890037536621 L 16.03890037536621 16.03890037536621 L 16.03890037536621 8.019900321960449 Z M 6.015051364898682 8.020603179931641 L 6.013929843902588 8.020870208740234 L 6.014699935913086 16.03890037536621 L 10.02420043945313 16.03890037536621 L 6.015051364898682 8.020603179931641 Z M 7.257599830627441 6.014699935913086 L 11.02680015563965 13.56300067901611 L 14.80590057373047 6.014699935913086 L 7.257599830627441 6.014699935913086 Z M 11.02680015563965 2.005200147628784 C 8.944470405578613 2.005200147628784 6.989419937133789 2.698270082473755 5.372999668121338 4.009500026702881 L 16.68060111999512 4.009500026702881 C 15.06587982177734 2.698889970779419 13.11104011535645 2.005200147628784 11.02680015563965 2.005200147628784 Z">
				</path>
			</svg>
		</div>
	</div>
	<svg class="Retngulo_7_be">
		<linearGradient id="Retngulo_7_be" spreadMethod="pad" x1="0.187" x2="0.85" y1="1" y2="17.637">
			<stop offset="0" stop-color="#df5c04" stop-opacity="1"></stop>
			<stop offset="0.1496" stop-color="#ffb300" stop-opacity="1"></stop>
			<stop offset="0.3794" stop-color="#e8ba04" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#e5cf05" stop-opacity="1"></stop>
		</linearGradient>
		<rect id="Retngulo_7_be" rx="0" ry="0" x="0" y="0" width="1920" height="30">
		</rect>
	</svg>
	<svg class="Retngulo_42_bg">
		<linearGradient id="Retngulo_42_bg" spreadMethod="pad" x1="0.187" x2="0.85" y1="1" y2="17.637">
			<stop offset="0" stop-color="#df5c04" stop-opacity="1"></stop>
			<stop offset="0.1496" stop-color="#ffb300" stop-opacity="1"></stop>
			<stop offset="0.3794" stop-color="#e8ba04" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#e5cf05" stop-opacity="1"></stop>
		</linearGradient>
		<rect id="Retngulo_42_bg" rx="0" ry="0" x="0" y="0" width="515" height="49">
		</rect>
	</svg>
	<svg class="Retngulo_8">
		<rect id="Retngulo_8" rx="0" ry="0" x="0" y="0" width="1920" height="90">
		</rect>
	</svg>
	<svg class="Retngulo_10">
		<rect id="Retngulo_10" rx="0" ry="0" x="0" y="0" width="1920" height="85">
		</rect>
	</svg>
	<img id="formato-do-escritorio-tem-a-ve" src="formato-do-escritorio-tem-a-ve.png" srcset="formato-do-escritorio-tem-a-ve.png 1x, formato-do-escritorio-tem-a-ve@2x.png 2x">
		
	<svg class="Icon_zocial-email" viewBox="0.072 4.068 28.061 18.942">
		<path id="Icon_zocial-email" d="M 0.07199999690055847 21.33212471008301 L 0.07199999690055847 5.745704174041748 C 0.07199999690055847 5.727664947509766 0.09905975311994553 5.556286334991455 0.1531792730093002 5.231568813323975 L 9.326436996459961 13.07889842987061 L 0.1802394390106201 21.87331962585449 C 0.1080800965428352 21.62076187133789 0.0720004215836525 21.44036293029785 0.0720004215836525 21.33212471008301 Z M 1.289688944816589 4.149179458618164 C 1.41596782207489 4.095059871673584 1.569306373596191 4.068000316619873 1.749704718589783 4.068000316619873 L 26.45526313781738 4.068000316619873 C 26.61762046813965 4.068000316619873 26.77997970581055 4.095059871673584 26.94233703613281 4.149179458618164 L 17.74202156066895 12.02356910705566 L 16.52433204650879 12.99771976470947 L 14.11601161956787 14.97308254241943 L 11.70769309997559 12.99771976470947 L 10.49000453948975 12.02356910705566 L 1.289688944816589 4.149179458618164 Z M 1.316748738288879 22.92864990234375 L 10.54412460327148 14.08011054992676 L 14.1160135269165 16.97550392150879 L 17.68790054321289 14.08011054992676 L 26.91527938842773 22.92864990234375 C 26.77096176147461 22.98276901245117 26.61762046813965 23.00982856750488 26.45526313781738 23.00982856750488 L 1.74970543384552 23.00982856750488 C 1.6053866147995 23.00982856750488 1.461068034172058 22.98276901245117 1.316749334335327 22.92864990234375 Z M 18.90559005737305 13.07889842987061 L 28.05178833007813 5.231569766998291 C 28.10591125488281 5.393928050994873 28.13296890258789 5.565306663513184 28.13296890258789 5.745705127716064 L 28.13296890258789 21.33212471008301 C 28.13296890258789 21.49448204040527 28.10591125488281 21.67488098144531 28.05178833007813 21.87331771850586 L 18.90559005737305 13.07889842987061 Z">
		</path>
	</svg>
	<div id="contatotakinamaocom">
		<span>contato@takinamao.com</span>
	</div>
	<img id="ID1" src="ID1.png" srcset="ID1.png 1x, ID1@2x.png 2x">
		
	<div id="Takinamao">
		<span>Takinamao</span>
	</div>
	<div id="a_Soluo">
		<span>a Solução</span>
	</div>
	<div onclick="application.goToTargetView(event)" id="HOME">
		<span>HOME</span>
	</div>
	<div onclick="application.goToTargetView(event)" id="EMPREGOS">
		<span>EMPREGOS</span>
	</div>
	<div onclick="application.goToTargetView(event)" id="EMPREGADORES">
		<span>EMPREGADORES</span>
	</div>
	<div id="Takinamao_bs">
		<span>Takinamao</span>
	</div>
	<div id="Quem_somos">
		<span>Quem somos</span>
	</div>
	<div id="Para_que_servimos">
		<span>Para que servimos</span>
	</div>
	<div id="Recursos">
		<span>Recursos</span>
	</div>
	<div onclick="application.goToTargetView(event)" id="Sobre_ns">
		<span>Sobre nós</span>
	</div>
	<div id="Contate-nos">
		<span>Contate-nos</span>
	</div>
	<div id="Candidatos">
		<span>Candidatos</span>
	</div>
	<div id="Empregadores">
		<span>Empregadores</span>
	</div>
	<div id="Como_publicar_vagas">
		<span>Como publicar vagas</span>
	</div>
	<div id="Como_Anunciar_Publicidade">
		<span>Como Anunciar Publicidade</span>
	</div>
	<div id="CONTATO">
		<span>CONTATO</span>
	</div>
	<div onclick="application.goToTargetView(event)" id="ENTRAR">
		<span>ENTRAR</span>
	</div>
	<svg class="Retngulo_37">
		<rect id="Retngulo_37" rx="0" ry="0" x="0" y="0" width="515" height="43">
		</rect>
	</svg>
	<svg class="Retngulo_38">
		<rect id="Retngulo_38" rx="0" ry="0" x="0" y="0" width="515" height="43">
		</rect>
	</svg>
	<svg class="Retngulo_39">
		<rect id="Retngulo_39" rx="0" ry="0" x="0" y="0" width="515" height="43">
		</rect>
	</svg>
	<svg class="Retngulo_40">
		<rect id="Retngulo_40" rx="0" ry="0" x="0" y="0" width="515" height="286">
		</rect>
	</svg>
	<svg class="Icon_awesome-user-alt" viewBox="0 0 36 36">
		<path id="Icon_awesome-user-alt" d="M 18 20.25 C 23.58984375 20.25 28.125 15.71484375 28.125 10.125 C 28.125 4.53515625 23.58984375 0 18 0 C 12.41015625 0 7.875 4.53515625 7.875 10.125 C 7.875 15.71484375 12.41015625 20.25 18 20.25 Z M 27 22.5 L 23.12578201293945 22.5 C 21.56484413146973 23.21718788146973 19.828125 23.625 18 23.625 C 16.171875 23.625 14.44218730926514 23.21718788146973 12.87421894073486 22.5 L 9 22.5 C 4.028906345367432 22.5 0 26.52890586853027 0 31.5 L 0 32.625 C 0 34.48828125 1.51171875 36 3.375 36 L 32.625 36 C 34.48828125 36 36 34.48828125 36 32.625 L 36 31.5 C 36 26.52890586853027 31.97109413146973 22.5 27 22.5 Z">
		</path>
	</svg>
	<div id="Nome">
		<span>Nome</span>
	</div>
	<div id="Icon_feather-mail">
		<svg class="Caminho_5" viewBox="3 6 30 24">
			<path id="Caminho_5" d="M 6 6 L 30 6 C 31.64999961853027 6 33 7.349999904632568 33 9 L 33 27 C 33 28.64999961853027 31.64999961853027 30 30 30 L 6 30 C 4.349999904632568 30 3 28.64999961853027 3 27 L 3 9 C 3 7.349999904632568 4.349999904632568 6 6 6 Z">
			</path>
		</svg>
		<svg class="Caminho_6" viewBox="3 9 30 10.5">
			<path id="Caminho_6" d="M 33 9 L 18 19.5 L 3 9">
			</path>
		</svg>
	</div>
	<div id="E-mail">
		<span>E-mail</span>
	</div>
	<div id="Assunto">
		<span>Assunto</span>
	</div>
	<svg class="Icon_metro-pencil" viewBox="2.571 1.928 30.849 30.849">
		<path id="Icon_metro-pencil" d="M 28.59915351867676 1.928033471107483 C 31.26116561889648 1.928033471107483 33.41923522949219 4.086045265197754 33.41923522949219 6.748116970062256 C 33.41923522949219 7.83323860168457 33.06044006347656 8.834550857543945 32.45521926879883 9.640167236328125 L 30.52718544006348 11.56820106506348 L 23.77906799316406 4.820084095001221 L 25.70710182189941 2.892050743103027 C 26.51271820068359 2.286828994750977 27.51397132873535 1.928034067153931 28.59915161132813 1.928034067153931 Z M 4.498735427856445 24.10041809082031 L 2.570702075958252 32.77656936645508 L 11.24685287475586 30.84853553771973 L 29.08116340637207 13.01422500610352 L 22.33304595947266 6.26610803604126 L 4.498735427856445 24.10041809082031 Z M 24.12786293029785 12.88101100921631 L 10.63162899017334 26.37724494934082 L 8.970026016235352 24.71564102172852 L 22.46625900268555 11.219407081604 L 24.12786293029785 12.88101005554199 Z">
		</path>
	</svg>
	<svg class="Icon_material-message" viewBox="3 3 30 30">
		<path id="Icon_material-message" d="M 30 3 L 6 3 C 4.349999904632568 3 3.015000104904175 4.349999904632568 3.015000104904175 6 L 3 33 L 9 27 L 30 27 C 31.64999961853027 27 33 25.64999961853027 33 24 L 33 6 C 33 4.349999904632568 31.64999961853027 3 30 3 Z M 27 21 L 9 21 L 9 18 L 27 18 L 27 21 Z M 27 16.5 L 9 16.5 L 9 13.5 L 27 13.5 L 27 16.5 Z M 27 12 L 9 12 L 9 9 L 27 9 L 27 12 Z">
		</path>
	</svg>
	<div id="Mensagem">
		<span>Mensagem</span>
	</div>
	<div id="ENVIAR">
		<span>ENVIAR</span>
	</div>
</div>
</body>
</html>


Messages:
1. Exported image: formato-do-escritorio-tem-a-ve.png (196.1k)
2. Exported image: formato-do-escritorio-tem-a-ve@2x.png (177.6k)
3. Exported image: ID1.png (4.9k)
4. Exported image: ID1@2x.png (15.1k)
5. Exported image: Total image size 201k

Warnings:
1. ID truncated: The auto generated ID starting with 'formato-do-escritor…' was truncated
2. Border support: Border position "inside" on "Retngulo_37"  is not supported
3. Border support: Border position "inside" on "Retngulo_38"  is not supported
4. Border support: Border position "inside" on "Retngulo_39"  is not supported
5. Border support: Border position "inside" on "Retngulo_40"  is not supported
6. Duplicate ID: The Ellipse named, "Elipse 25" on artboard, "Contato" was renamed to, "Elipse_25_"
7. Duplicate ID: The Text named, "Label Left" on artboard, "Contato" was renamed to, "Label_Left_"
8. Duplicate ID: The Rectangle named, "Retângulo 7" on artboard, "Contato" was renamed to, "Retngulo_7_be"
9. Duplicate ID: The Rectangle named, "Retângulo 42" on artboard, "Contato" was renamed to, "Retngulo_42_bg"
10. Duplicate ID: The Text named, "Takinamao" on artboard, "Contato" was renamed to, "Takinamao_bs"
