.mediaViewInfo {
	--web-view-name: Candidatos2;
	--web-view-id: Candidatos2;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Candidatos2;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Candidatos2 {
	position: absolute;
	width: 1920px;
	height: 1500px;
	background-color: rgba(245,245,245,1);
	overflow: hidden;
	--web-view-name: Candidatos2;
	--web-view-id: Candidatos2;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Elipse_25_ {
	fill: url(#Elipse_25_);
}
.Elipse_25_ {
	position: absolute;
	overflow: visible;
	width: 2833px;
	height: 2814px;
	left: -324px;
	top: -588px;
}
#Elipse_27 {
	fill: rgba(255,179,0,1);
}
.Elipse_27 {
	position: absolute;
	overflow: visible;
	width: 3048px;
	height: 3028px;
	left: -126px;
	top: -851px;
}
#Elipse_28 {
	fill: rgba(232,186,4,1);
}
.Elipse_28 {
	position: absolute;
	overflow: visible;
	width: 2451px;
	height: 2435px;
	left: -237px;
	top: -667px;
}
#Elipse_26 {
	fill: rgba(229,207,5,1);
}
.Elipse_26 {
	position: absolute;
	overflow: visible;
	width: 2808px;
	height: 2788px;
	left: -423px;
	top: -1131px;
}
#Elipse_29 {
	fill: rgba(157,156,149,1);
}
.Elipse_29 {
	position: absolute;
	overflow: visible;
	width: 3168px;
	height: 3145px;
	left: -423px;
	top: -1432px;
}
#Retngulo_16 {
	fill: rgba(220,220,220,1);
}
.Retngulo_16 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 848px;
	left: 0px;
	top: 442px;
}
#Dark___ComponentHeader_Label {
	position: absolute;
	width: 939.352px;
	height: 189.352px;
	left: 60px;
	top: 24.649px;
	display: none;
	overflow: visible;
}
#Label_Left {
	left: 0px;
	top: 63.351px;
	position: absolute;
	overflow: visible;
	width: 286px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(255,255,255,0.871);
	letter-spacing: -0.08px;
}
#Label_Left_ {
	left: 0px;
	top: 35.351px;
	position: absolute;
	overflow: visible;
	width: 110px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -2px;
	text-align: left;
	font-family: Roboto Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,0.871);
	letter-spacing: -0.08333331108093261px;
}
#Divider {
	opacity: 0.6;
	fill: rgba(255,255,255,0.38);
}
.Divider {
	position: absolute;
	overflow: visible;
	width: 904px;
	height: 1px;
	left: 0px;
	top: 188.351px;
}
#ic_material_design_white_24dp {
	position: absolute;
	width: 22.055px;
	height: 22.055px;
	left: 917.297px;
	top: 0px;
	overflow: visible;
}
#Shape {
	fill: rgba(255,255,255,1);
}
.Shape {
	overflow: visible;
	position: absolute;
	width: 22.055px;
	height: 22.054px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Retngulo_7_bd {
	fill: url(#Retngulo_7_bd);
}
.Retngulo_7_bd {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Retngulo_8 {
	fill: rgba(210,210,210,1);
}
.Retngulo_8 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 90px;
	left: 0px;
	top: 30px;
}
#Retngulo_10 {
	fill: rgba(0,0,0,1);
}
.Retngulo_10 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 241px;
	left: 0px;
	top: 120px;
}
#formato-do-escritorio-tem-a-ve {
	opacity: 0.34;
	position: absolute;
	width: 1920px;
	height: 241px;
	left: 0px;
	top: 120px;
	overflow: visible;
}
#Icon_zocial-email {
	fill: rgba(255,255,255,1);
}
.Icon_zocial-email {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.729));
	overflow: visible;
	position: absolute;
	width: 46.061px;
	height: 36.942px;
	left: 1208px;
	top: 6px;
	transform: matrix(1,0,0,1,0,0);
}
#contatotakinamaocom {
	left: 1238px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 207px;
	white-space: nowrap;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#ID1 {
	position: absolute;
	width: 70px;
	height: 52px;
	left: 460px;
	top: 43px;
	overflow: visible;
}
#Takinamao {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.89));
	left: 530px;
	top: 46px;
	position: absolute;
	overflow: visible;
	width: 154px;
	white-space: nowrap;
	text-align: left;
	font-family: ArtBrush;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#a_Soluo {
	left: 567px;
	top: 82px;
	position: absolute;
	overflow: visible;
	width: 74px;
	white-space: nowrap;
	text-align: left;
	font-family: Adobe Garamond Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Retngulo_11 {
	fill: rgba(255,255,255,1);
}
.Retngulo_11 {
	position: absolute;
	overflow: visible;
	width: 436px;
	height: 33px;
	left: 495px;
	top: 384px;
}
#Retngulo_12 {
	fill: rgba(255,255,255,1);
}
.Retngulo_12 {
	position: absolute;
	overflow: visible;
	width: 436px;
	height: 33px;
	left: 943px;
	top: 384px;
}
#Icon_awesome-search {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-search {
	overflow: visible;
	position: absolute;
	width: 31.091px;
	height: 33px;
	left: 1391px;
	top: 383.914px;
	transform: matrix(1,0,0,1,0,0);
}
#Retngulo_13 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Retngulo_13 {
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 33px;
	left: 1386px;
	top: 384px;
}
#Voc_merece_melhores_resultados {
	opacity: 0.71;
	left: 678px;
	top: 204px;
	position: absolute;
	overflow: visible;
	width: 565px;
	white-space: nowrap;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#HOME {
	left: 817px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	transition: all 0.1s ease-out;
	--web-animation: fadein 0.1s ease-out;
	--web-action-type: page;
	--web-action-target: Home.html;
	cursor: pointer;
	text-align: center;
	font-family: Adobe Arabic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(114,113,113,1);
}
#EMPREGOS {
	left: 900px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	transition: all 0.1s ease-out;
	--web-animation: fadein 0.1s ease-out;
	--web-action-type: page;
	--web-action-target: Empregos.html;
	cursor: pointer;
	text-align: center;
	font-family: Adobe Arabic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(114,113,113,1);
}
#CONTATO {
	left: 1198px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	transition: all 0.1s ease-out;
	--web-animation: fadein 0.1s ease-out;
	--web-action-type: page;
	--web-action-target: Contato.html;
	cursor: pointer;
	text-align: center;
	font-family: Adobe Arabic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(114,113,113,1);
}
#EMPREGADORES {
	left: 1025px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	transition: all 0.1s ease-out;
	--web-animation: fadein 0.1s ease-out;
	--web-action-type: page;
	--web-action-target: Candidatos.html;
	cursor: pointer;
	text-align: center;
	font-family: Adobe Arabic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(114,113,113,1);
}
#Takinamao_bv {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.89));
	left: 596px;
	top: 1295px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: left;
	font-family: ArtBrush;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Quem_somos {
	left: 594px;
	top: 1336px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	text-align: center;
	font-family: Adobe Arabic;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Para_que_servimos {
	left: 882px;
	top: 1336px;
	position: absolute;
	overflow: visible;
	width: 171px;
	white-space: nowrap;
	text-align: center;
	font-family: Adobe Arabic;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Recursos {
	left: 1184px;
	top: 1336px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: center;
	font-family: Adobe Arabic;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Sobre_ns {
	left: 594px;
	top: 1368px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	transition: all 0.1s ease-out;
	--web-animation: fadein 0.1s ease-out;
	--web-action-type: page;
	--web-action-target: Quem_somos.html;
	cursor: pointer;
	text-align: center;
	font-family: Adobe Arabic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Contate-nos {
	left: 594px;
	top: 1396px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	transition: all 0.1s ease-out;
	--web-animation: fadein 0.1s ease-out;
	--web-action-type: page;
	--web-action-target: Contato.html;
	cursor: pointer;
	text-align: center;
	font-family: Adobe Arabic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Candidatos {
	left: 882px;
	top: 1368px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	transition: all 0.1s ease-out;
	--web-animation: fadein 0.1s ease-out;
	--web-action-type: page;
	--web-action-target: Empregos.html;
	cursor: pointer;
	text-align: center;
	font-family: Adobe Arabic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Empregadores {
	left: 882px;
	top: 1396px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	transition: all 0.1s ease-out;
	--web-animation: fadein 0.1s ease-out;
	--web-action-type: page;
	--web-action-target: Candidatos.html;
	cursor: pointer;
	text-align: center;
	font-family: Adobe Arabic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Como_publicar_vagas {
	left: 1184px;
	top: 1368px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: center;
	font-family: Adobe Arabic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Como_Anunciar_Publicidade {
	left: 1184px;
	top: 1396px;
	position: absolute;
	overflow: visible;
	width: 215px;
	white-space: nowrap;
	text-align: center;
	font-family: Adobe Arabic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Cargo_empresa_ou_palavra-chave {
	opacity: 0.45;
	left: 502px;
	top: 389px;
	position: absolute;
	overflow: visible;
	width: 270px;
	white-space: nowrap;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Cidade_estado_ou_CEP {
	opacity: 0.45;
	left: 956px;
	top: 389px;
	position: absolute;
	overflow: visible;
	width: 182px;
	white-space: nowrap;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Elipse_36 {
	filter: blur(50px);
	fill: rgba(255,255,255,1);
}
.Elipse_36 {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 15px;
	left: 857px;
	top: 1254px;
}
#Elipse_37 {
	filter: blur(30px);
	fill: rgba(255,255,255,1);
}
.Elipse_37 {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 15px;
	left: 884px;
	top: 1254px;
}
#Elipse_38 {
	filter: blur(50px);
	fill: rgba(255,255,255,1);
}
.Elipse_38 {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 15px;
	left: 911px;
	top: 1254px;
}
#Elipse_39 {
	filter: blur(50px);
	fill: rgba(255,255,255,1);
}
.Elipse_39 {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 15px;
	left: 938px;
	top: 1254px;
}
#Elipse_40 {
	filter: blur(50px);
	fill: rgba(255,255,255,1);
}
.Elipse_40 {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 15px;
	left: 965px;
	top: 1254px;
}
#Elipse_41 {
	filter: blur(50px);
	fill: rgba(255,255,255,1);
}
.Elipse_41 {
	position: absolute;
	overflow: visible;
	width: 15px;
	height: 15px;
	left: 992px;
	top: 1254px;
}
#ENTRAR {
	left: 1315px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	transition: all 0.1s ease-out;
	--web-animation: fadein 0.1s ease-out;
	--web-action-type: page;
	--web-action-target: Login_candidato.html;
	cursor: pointer;
	text-align: center;
	font-family: Adobe Arabic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(114,113,113,1);
}
#Grupo_362 {
	position: absolute;
	width: 752px;
	height: 126px;
	left: 556px;
	top: 460px;
	overflow: visible;
}
#Retngulo_19_cg {
	fill: url(#Retngulo_19_cg);
}
.Retngulo_19_cg {
	position: absolute;
	overflow: visible;
	width: 752px;
	height: 126px;
	left: 0px;
	top: 0px;
}
#Retngulo_18 {
	fill: rgba(255,255,255,1);
}
.Retngulo_18 {
	position: absolute;
	overflow: visible;
	width: 748px;
	height: 122px;
	left: 3px;
	top: 0px;
}
#Linha_3 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 3;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Linha_3 {
	overflow: visible;
	position: absolute;
	width: 748.62px;
	height: 1px;
	left: 2.957px;
	top: 26.109px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_361 {
	position: absolute;
	width: 752px;
	height: 126px;
	left: 556px;
	top: 591px;
	overflow: visible;
}
#Retngulo_19_cl {
	fill: url(#Retngulo_19_cl);
}
.Retngulo_19_cl {
	position: absolute;
	overflow: visible;
	width: 752px;
	height: 126px;
	left: 0px;
	top: 0px;
}
#Retngulo_18_cm {
	fill: rgba(255,255,255,1);
}
.Retngulo_18_cm {
	position: absolute;
	overflow: visible;
	width: 748px;
	height: 122px;
	left: 3px;
	top: 0px;
}
#Linha_3_cn {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 3;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Linha_3_cn {
	overflow: visible;
	position: absolute;
	width: 748.62px;
	height: 1px;
	left: 2.957px;
	top: 26.109px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_360 {
	position: absolute;
	width: 752px;
	height: 126px;
	left: 556px;
	top: 722px;
	overflow: visible;
}
#Retngulo_19_cq {
	fill: url(#Retngulo_19_cq);
}
.Retngulo_19_cq {
	position: absolute;
	overflow: visible;
	width: 752px;
	height: 126px;
	left: 0px;
	top: 0px;
}
#Retngulo_18_cr {
	fill: rgba(255,255,255,1);
}
.Retngulo_18_cr {
	position: absolute;
	overflow: visible;
	width: 748px;
	height: 122px;
	left: 3px;
	top: 0px;
}
#Linha_3_cs {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 3;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Linha_3_cs {
	overflow: visible;
	position: absolute;
	width: 748.62px;
	height: 1px;
	left: 2.957px;
	top: 26.109px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_359 {
	position: absolute;
	width: 752px;
	height: 126px;
	left: 556px;
	top: 853px;
	overflow: visible;
}
#Retngulo_19_cv {
	fill: url(#Retngulo_19_cv);
}
.Retngulo_19_cv {
	position: absolute;
	overflow: visible;
	width: 752px;
	height: 126px;
	left: 0px;
	top: 0px;
}
#Retngulo_18_cw {
	fill: rgba(255,255,255,1);
}
.Retngulo_18_cw {
	position: absolute;
	overflow: visible;
	width: 748px;
	height: 122px;
	left: 3px;
	top: 0px;
}
#Linha_3_cx {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 3;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Linha_3_cx {
	overflow: visible;
	position: absolute;
	width: 748.62px;
	height: 1px;
	left: 2.957px;
	top: 26.109px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_358 {
	position: absolute;
	width: 752px;
	height: 126px;
	left: 556px;
	top: 984px;
	overflow: visible;
}
#Retngulo_19_c {
	fill: url(#Retngulo_19_c);
}
.Retngulo_19_c {
	position: absolute;
	overflow: visible;
	width: 752px;
	height: 126px;
	left: 0px;
	top: 0px;
}
#Retngulo_18_c {
	fill: rgba(255,255,255,1);
}
.Retngulo_18_c {
	position: absolute;
	overflow: visible;
	width: 748px;
	height: 122px;
	left: 3px;
	top: 0px;
}
#Linha_3_c {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 3;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Linha_3_c {
	overflow: visible;
	position: absolute;
	width: 748.62px;
	height: 1px;
	left: 2.957px;
	top: 26.109px;
	transform: matrix(1,0,0,1,0,0);
}
#Grupo_357 {
	position: absolute;
	width: 752px;
	height: 126px;
	left: 556px;
	top: 1115px;
	overflow: visible;
}
#Retngulo_19_db {
	fill: url(#Retngulo_19_db);
}
.Retngulo_19_db {
	position: absolute;
	overflow: visible;
	width: 752px;
	height: 126px;
	left: 0px;
	top: 0px;
}
#Retngulo_18_da {
	fill: rgba(255,255,255,1);
}
.Retngulo_18_da {
	position: absolute;
	overflow: visible;
	width: 748px;
	height: 122px;
	left: 3px;
	top: 0px;
}
#Linha_3_da {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 3;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Linha_3_da {
	overflow: visible;
	position: absolute;
	width: 748.62px;
	height: 1px;
	left: 2.957px;
	top: 26.109px;
	transform: matrix(1,0,0,1,0,0);
}
#Jos_Antnio {
	left: 592px;
	top: 496px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
#Jos_Antnio_c {
	left: 592px;
	top: 627px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
#Jos_Antnio_da {
	left: 592px;
	top: 758px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
#Jos_Antnio_db {
	left: 592px;
	top: 889px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
#Jos_Antnio_dc {
	left: 592px;
	top: 1020px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
#Jos_Antnio_dd {
	left: 592px;
	top: 1151px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
#Encanador {
	left: 590px;
	top: 531px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,136,255,1);
}
#Encanador_df {
	left: 590px;
	top: 662px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,136,255,1);
}
#Encanador_dg {
	left: 590px;
	top: 793px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,136,255,1);
}
#Encanador_dh {
	left: 590px;
	top: 924px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,136,255,1);
}
#Encanador_di {
	left: 590px;
	top: 1055px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,136,255,1);
}
#Encanador_dj {
	left: 590px;
	top: 1186px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,136,255,1);
}
#Trabalhei_na_empresa_x_arruman {
	left: 592px;
	top: 552px;
	position: absolute;
	overflow: visible;
	width: 381px;
	white-space: nowrap;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(157,156,149,1);
}
#Trabalhei_na_empresa_x_arruman_dl {
	left: 592px;
	top: 683px;
	position: absolute;
	overflow: visible;
	width: 381px;
	white-space: nowrap;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(157,156,149,1);
}
#Trabalhei_na_empresa_x_arruman_dm {
	left: 592px;
	top: 814px;
	position: absolute;
	overflow: visible;
	width: 381px;
	white-space: nowrap;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(157,156,149,1);
}
#Trabalhei_na_empresa_x_arruman_dn {
	left: 592px;
	top: 945px;
	position: absolute;
	overflow: visible;
	width: 381px;
	white-space: nowrap;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(157,156,149,1);
}
#Trabalhei_na_empresa_x_arruman_do {
	left: 592px;
	top: 1076px;
	position: absolute;
	overflow: visible;
	width: 381px;
	white-space: nowrap;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(157,156,149,1);
}
#Trabalhei_na_empresa_x_arruman_dp {
	left: 592px;
	top: 1207px;
	position: absolute;
	overflow: visible;
	width: 381px;
	white-space: nowrap;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(157,156,149,1);
}
#btn_vervagas {
	position: absolute;
	width: 118px;
	height: 121px;
	left: 1190px;
	top: 460px;
	overflow: visible;
}
#Polgono_2_ds {
	opacity: 0.89;
	fill: url(#Polgono_2_ds);
}
.Polgono_2_ds {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 121px;
	height: 118px;
	transform: translate(0px, 0px) matrix(1,0,0,1,-1.5,1.5) rotate(-90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#VER_CANDIDATO {
	left: 11px;
	top: 51px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#btn_vervagas_du {
	position: absolute;
	width: 118px;
	height: 121px;
	left: 1190px;
	top: 591px;
	overflow: visible;
}
#Polgono_2_dw {
	opacity: 0.89;
	fill: url(#Polgono_2_dw);
}
.Polgono_2_dw {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 121px;
	height: 118px;
	transform: translate(0px, 0px) matrix(1,0,0,1,-1.5,1.5) rotate(-90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#VER_CANDIDATO_dx {
	left: 11px;
	top: 51px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#btn_vervagas_dy {
	position: absolute;
	width: 118px;
	height: 121px;
	left: 1190px;
	top: 722px;
	overflow: visible;
}
#Polgono_2_d {
	opacity: 0.89;
	fill: url(#Polgono_2_d);
}
.Polgono_2_d {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 121px;
	height: 118px;
	transform: translate(0px, 0px) matrix(1,0,0,1,-1.5,1.5) rotate(-90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#VER_CANDIDATO_d {
	left: 11px;
	top: 51px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#btn_vervagas_d {
	position: absolute;
	width: 118px;
	height: 121px;
	left: 1190px;
	top: 853px;
	overflow: visible;
}
#Polgono_2_eb {
	opacity: 0.89;
	fill: url(#Polgono_2_eb);
}
.Polgono_2_eb {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 121px;
	height: 118px;
	transform: translate(0px, 0px) matrix(1,0,0,1,-1.5,1.5) rotate(-90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#VER_CANDIDATO_ea {
	left: 11px;
	top: 51px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#btn_vervagas_ea {
	position: absolute;
	width: 118px;
	height: 121px;
	left: 1190px;
	top: 984px;
	overflow: visible;
}
#Polgono_2_ed {
	opacity: 0.89;
	fill: url(#Polgono_2_ed);
}
.Polgono_2_ed {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 121px;
	height: 118px;
	transform: translate(0px, 0px) matrix(1,0,0,1,-1.5,1.5) rotate(-90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#VER_CANDIDATO_eb {
	left: 11px;
	top: 51px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#btn_vervagas_eb {
	position: absolute;
	width: 118px;
	height: 121px;
	left: 1190px;
	top: 1115px;
	overflow: visible;
}
#Polgono_2_ef {
	opacity: 0.89;
	fill: url(#Polgono_2_ef);
}
.Polgono_2_ef {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 121px;
	height: 118px;
	transform: translate(0px, 0px) matrix(1,0,0,1,-1.5,1.5) rotate(-90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#VER_CANDIDATO_ed {
	left: 11px;
	top: 51px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Componente_109__11 {
	opacity: 0.27;
	position: absolute;
	width: 114px;
	height: 194px;
	left: 1368px;
	top: 752px;
	overflow: visible;
	transition: all 0.1s ease-out;
	--web-animation: fadein 0.1s ease-out;
	--web-action-type: page;
	--web-action-target: Candidatos3.html;
	cursor: pointer;
}
#Polgono_3 {
	opacity: 0.39;
	fill: rgba(138,138,138,1);
}
.Polgono_3 {
	overflow: visible;
	position: absolute;
	width: 194px;
	height: 114px;
	transform: translate(0px, 0px) matrix(1,0,0,1,-40,40) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Componente_109__12 {
	opacity: 0.27;
	transform: matrix(1,0,0,1,394,752) rotate(180deg);
	transform-origin: center;
	position: absolute;
	width: 114px;
	height: 194px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Polgono_3_eh {
	opacity: 0.39;
	fill: rgba(138,138,138,1);
}
.Polgono_3_eh {
	overflow: visible;
	position: absolute;
	width: 194px;
	height: 114px;
	transform: translate(114px, 194px) matrix(1,0,0,1,-40,40) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}


Messages:
1. Exported image: formato-do-escritorio-tem-a-ve.png (547.6k)
2. Exported image: formato-do-escritorio-tem-a-ve@2x.png (492.2k)
3. Exported image: ID1.png (4.9k)
4. Exported image: ID1@2x.png (15.1k)
5. Exported image: Total image size 552.5k

Warnings:
1. ID truncated: The auto generated ID starting with 'formato-do-escritor…' was truncated
2. Border support: Border position "inside" on "Retngulo_13"  is not supported
3. ID truncated: The auto generated ID starting with 'Voc_merece_melhores…' was truncated
4. ID truncated: The auto generated ID starting with 'Trabalhei_na_empres…' was truncated
5. ID truncated: The auto generated ID starting with 'Trabalhei_na_empres…' was truncated
6. ID truncated: The auto generated ID starting with 'Trabalhei_na_empres…' was truncated
7. ID truncated: The auto generated ID starting with 'Trabalhei_na_empres…' was truncated
8. ID truncated: The auto generated ID starting with 'Trabalhei_na_empres…' was truncated
9. ID truncated: The auto generated ID starting with 'Trabalhei_na_empres…' was truncated
10. Rotation support: Rotation not fully supported on all elements. Confirm valid rotation, remove rotation, commit the rotation, adjust the position manually or use the export as image feature" on "Componente_109__12"
11. Duplicate ID: The Ellipse named, "Elipse 25" on artboard, "Candidatos2" was renamed to, "Elipse_25_"
12. Duplicate ID: The Text named, "Label Left" on artboard, "Candidatos2" was renamed to, "Label_Left_"
13. Duplicate ID: The Rectangle named, "Retângulo 7" on artboard, "Candidatos2" was renamed to, "Retngulo_7_bd"
14. Duplicate ID: The Text named, "Takinamao" on artboard, "Candidatos2" was renamed to, "Takinamao_bv"
15. Duplicate ID: The Rectangle named, "Retângulo 19" on artboard, "Candidatos2" was renamed to, "Retngulo_19_cg"
16. Duplicate ID: The Rectangle named, "Retângulo 19" on artboard, "Candidatos2" was renamed to, "Retngulo_19_ck"
17. Duplicate ID: The Rectangle named, "Retângulo 19" on artboard, "Candidatos2" was renamed to, "Retngulo_19_cl"
18. Duplicate ID: The Rectangle named, "Retângulo 18" on artboard, "Candidatos2" was renamed to, "Retngulo_18_cm"
19. Duplicate ID: The Line named, "Linha 3" on artboard, "Candidatos2" was renamed to, "Linha_3_cn"
20. Duplicate ID: The Rectangle named, "Retângulo 19" on artboard, "Candidatos2" was renamed to, "Retngulo_19_cp"
21. Duplicate ID: The Rectangle named, "Retângulo 19" on artboard, "Candidatos2" was renamed to, "Retngulo_19_cq"
22. Duplicate ID: The Rectangle named, "Retângulo 18" on artboard, "Candidatos2" was renamed to, "Retngulo_18_cr"
23. Duplicate ID: The Line named, "Linha 3" on artboard, "Candidatos2" was renamed to, "Linha_3_cs"
24. Duplicate ID: The Rectangle named, "Retângulo 19" on artboard, "Candidatos2" was renamed to, "Retngulo_19_cu"
25. Duplicate ID: The Rectangle named, "Retângulo 19" on artboard, "Candidatos2" was renamed to, "Retngulo_19_cv"
26. Duplicate ID: The Rectangle named, "Retângulo 18" on artboard, "Candidatos2" was renamed to, "Retngulo_18_cw"
27. Duplicate ID: The Line named, "Linha 3" on artboard, "Candidatos2" was renamed to, "Linha_3_cx"
28. Duplicate ID: The Rectangle named, "Retângulo 19" on artboard, "Candidatos2" was renamed to, "Retngulo_19_cz"
29. Duplicate ID: The Rectangle named, "Retângulo 19" on artboard, "Candidatos2" was renamed to, "Retngulo_19_c"
30. Duplicate ID: The Rectangle named, "Retângulo 18" on artboard, "Candidatos2" was renamed to, "Retngulo_18_c"
31. Duplicate ID: The Line named, "Linha 3" on artboard, "Candidatos2" was renamed to, "Linha_3_c"
32. Duplicate ID: The Rectangle named, "Retângulo 19" on artboard, "Candidatos2" was renamed to, "Retngulo_19_da"
33. Duplicate ID: The Rectangle named, "Retângulo 19" on artboard, "Candidatos2" was renamed to, "Retngulo_19_db"
34. Duplicate ID: The Rectangle named, "Retângulo 18" on artboard, "Candidatos2" was renamed to, "Retngulo_18_da"
35. Duplicate ID: The Line named, "Linha 3" on artboard, "Candidatos2" was renamed to, "Linha_3_da"
36. Duplicate ID: The Text named, "José Antônio" on artboard, "Candidatos2" was renamed to, "Jos_Antnio_c"
37. Duplicate ID: The Text named, "José Antônio" on artboard, "Candidatos2" was renamed to, "Jos_Antnio_da"
38. Duplicate ID: The Text named, "José Antônio" on artboard, "Candidatos2" was renamed to, "Jos_Antnio_db"
39. Duplicate ID: The Text named, "José Antônio" on artboard, "Candidatos2" was renamed to, "Jos_Antnio_dc"
40. Duplicate ID: The Text named, "José Antônio" on artboard, "Candidatos2" was renamed to, "Jos_Antnio_dd"
41. Duplicate ID: The Text named, "Encanador" on artboard, "Candidatos2" was renamed to, "Encanador_df"
42. Duplicate ID: The Text named, "Encanador" on artboard, "Candidatos2" was renamed to, "Encanador_dg"
43. Duplicate ID: The Text named, "Encanador" on artboard, "Candidatos2" was renamed to, "Encanador_dh"
44. Duplicate ID: The Text named, "Encanador" on artboard, "Candidatos2" was renamed to, "Encanador_di"
45. Duplicate ID: The Text named, "Encanador" on artboard, "Candidatos2" was renamed to, "Encanador_dj"
46. Duplicate ID: The Text named, "Trabalhei na empresa x, arrumando blah blah blah.…" on artboard, "Candidatos2" was renamed to, "Trabalhei_na_empresa_x_arruman_dl"
47. Duplicate ID: The Text named, "Trabalhei na empresa x, arrumando blah blah blah.…" on artboard, "Candidatos2" was renamed to, "Trabalhei_na_empresa_x_arruman_dm"
48. Duplicate ID: The Text named, "Trabalhei na empresa x, arrumando blah blah blah.…" on artboard, "Candidatos2" was renamed to, "Trabalhei_na_empresa_x_arruman_dn"
49. Duplicate ID: The Text named, "Trabalhei na empresa x, arrumando blah blah blah.…" on artboard, "Candidatos2" was renamed to, "Trabalhei_na_empresa_x_arruman_do"
50. Duplicate ID: The Text named, "Trabalhei na empresa x, arrumando blah blah blah.…" on artboard, "Candidatos2" was renamed to, "Trabalhei_na_empresa_x_arruman_dp"
51. Duplicate ID: The Polygon named, "Polígono 2" on artboard, "Candidatos2" was renamed to, "Polgono_2_ds"
52. Duplicate ID: The SymbolInstance named, "btn_vervagas" on artboard, "Candidatos2" was renamed to, "btn_vervagas_du"
53. Duplicate ID: The Polygon named, "Polígono 2" on artboard, "Candidatos2" was renamed to, "Polgono_2_dv"
54. Duplicate ID: The Polygon named, "Polígono 2" on artboard, "Candidatos2" was renamed to, "Polgono_2_dw"
55. Duplicate ID: The Text named, "VER CANDIDATO" on artboard, "Candidatos2" was renamed to, "VER_CANDIDATO_dx"
56. Duplicate ID: The SymbolInstance named, "btn_vervagas" on artboard, "Candidatos2" was renamed to, "btn_vervagas_dy"
57. Duplicate ID: The Polygon named, "Polígono 2" on artboard, "Candidatos2" was renamed to, "Polgono_2_dz"
58. Duplicate ID: The Polygon named, "Polígono 2" on artboard, "Candidatos2" was renamed to, "Polgono_2_d"
59. Duplicate ID: The Text named, "VER CANDIDATO" on artboard, "Candidatos2" was renamed to, "VER_CANDIDATO_d"
60. Duplicate ID: The SymbolInstance named, "btn_vervagas" on artboard, "Candidatos2" was renamed to, "btn_vervagas_d"
61. Duplicate ID: The Polygon named, "Polígono 2" on artboard, "Candidatos2" was renamed to, "Polgono_2_ea"
62. Duplicate ID: The Polygon named, "Polígono 2" on artboard, "Candidatos2" was renamed to, "Polgono_2_eb"
63. Duplicate ID: The Text named, "VER CANDIDATO" on artboard, "Candidatos2" was renamed to, "VER_CANDIDATO_ea"
64. Duplicate ID: The SymbolInstance named, "btn_vervagas" on artboard, "Candidatos2" was renamed to, "btn_vervagas_ea"
65. Duplicate ID: The Polygon named, "Polígono 2" on artboard, "Candidatos2" was renamed to, "Polgono_2_ec"
66. Duplicate ID: The Polygon named, "Polígono 2" on artboard, "Candidatos2" was renamed to, "Polgono_2_ed"
67. Duplicate ID: The Text named, "VER CANDIDATO" on artboard, "Candidatos2" was renamed to, "VER_CANDIDATO_eb"
68. Duplicate ID: The SymbolInstance named, "btn_vervagas" on artboard, "Candidatos2" was renamed to, "btn_vervagas_eb"
69. Duplicate ID: The Polygon named, "Polígono 2" on artboard, "Candidatos2" was renamed to, "Polgono_2_ee"
70. Duplicate ID: The Polygon named, "Polígono 2" on artboard, "Candidatos2" was renamed to, "Polgono_2_ef"
71. Duplicate ID: The Text named, "VER CANDIDATO" on artboard, "Candidatos2" was renamed to, "VER_CANDIDATO_ed"
72. Duplicate ID: The Polygon named, "Polígono 3" on artboard, "Candidatos2" was renamed to, "Polgono_3_eh"
