.mediaViewInfo {
	--web-view-name: Home;
	--web-view-id: Home;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Home;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Home {
	position: absolute;
	width: 1920px;
	height: 1500px;
	background-color: rgba(245,245,245,1);
	overflow: hidden;
	--web-view-name: Home;
	--web-view-id: Home;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Grupo_369 {
	position: absolute;
	width: 3303px;
	height: 3699px;
	left: -331px;
	top: -1477px;
	overflow: visible;
}
#Elipse_25_z {
	fill: url(#Elipse_25_z);
}
.Elipse_25_z {
	position: absolute;
	overflow: visible;
	width: 2833px;
	height: 2814px;
	left: 25px;
	top: 885px;
}
#Elipse_27 {
	fill: rgba(255,179,0,1);
}
.Elipse_27 {
	position: absolute;
	overflow: visible;
	width: 3048px;
	height: 3028px;
	left: 255px;
	top: 625px;
}
#Elipse_28 {
	fill: rgba(232,186,4,1);
}
.Elipse_28 {
	position: absolute;
	overflow: visible;
	width: 2451px;
	height: 2435px;
	left: 241px;
	top: 900px;
}
#Elipse_26 {
	fill: rgba(229,207,5,1);
}
.Elipse_26 {
	position: absolute;
	overflow: visible;
	width: 2808px;
	height: 2788px;
	left: 133px;
	top: 444px;
}
#Elipse_29 {
	fill: rgba(157,156,149,1);
}
.Elipse_29 {
	position: absolute;
	overflow: visible;
	width: 3168px;
	height: 3145px;
	left: 0px;
	top: 0px;
}
#Retngulo_16 {
	fill: rgba(220,220,220,1);
}
.Retngulo_16 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 525px;
	left: 0px;
	top: 540px;
}
#Dark___ComponentHeader_Label {
	position: absolute;
	width: 939.352px;
	height: 189.352px;
	left: 60px;
	top: 24.649px;
	display: none;
	overflow: visible;
}
#Label_Left {
	left: 0px;
	top: 63.351px;
	position: absolute;
	overflow: visible;
	width: 286px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(255,255,255,0.871);
	letter-spacing: -0.08px;
}
#Label_Left_ {
	left: 0px;
	top: 35.351px;
	position: absolute;
	overflow: visible;
	width: 110px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -2px;
	text-align: left;
	font-family: Roboto Mono;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,0.871);
	letter-spacing: -0.08333331108093261px;
}
#Divider {
	opacity: 0.6;
	fill: rgba(255,255,255,0.38);
}
.Divider {
	position: absolute;
	overflow: visible;
	width: 904px;
	height: 1px;
	left: 0px;
	top: 188.351px;
}
#ic_material_design_white_24dp {
	position: absolute;
	width: 22.055px;
	height: 22.055px;
	left: 917.297px;
	top: 0px;
	overflow: visible;
}
#Shape {
	fill: rgba(255,255,255,1);
}
.Shape {
	overflow: visible;
	position: absolute;
	width: 22.054px;
	height: 22.054px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Retngulo_7_bc {
	fill: url(#Retngulo_7_bc);
}
.Retngulo_7_bc {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Retngulo_8 {
	fill: rgba(210,210,210,1);
}
.Retngulo_8 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 90px;
	left: 0px;
	top: 30px;
}
#Retngulo_10 {
	fill: rgba(0,0,0,1);
}
.Retngulo_10 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 420px;
	left: 0px;
	top: 120px;
}
#formato-do-escritorio-tem-a-ve {
	opacity: 0.34;
	position: absolute;
	width: 1920px;
	height: 420px;
	left: 0px;
	top: 120px;
	overflow: visible;
}
#Icon_zocial-email {
	fill: rgba(255,255,255,1);
}
.Icon_zocial-email {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.729));
	overflow: visible;
	position: absolute;
	width: 46.061px;
	height: 36.942px;
	left: 1208px;
	top: 6px;
	transform: matrix(1,0,0,1,0,0);
}
#contatotakinamaocom {
	left: 1238px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 207px;
	white-space: nowrap;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#ID1 {
	position: absolute;
	width: 70px;
	height: 52px;
	left: 460px;
	top: 43px;
	overflow: visible;
}
#Takinamao {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.89));
	left: 530px;
	top: 46px;
	position: absolute;
	overflow: visible;
	width: 154px;
	white-space: nowrap;
	text-align: left;
	font-family: ArtBrush;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#a_Soluo {
	left: 567px;
	top: 82px;
	position: absolute;
	overflow: visible;
	width: 74px;
	white-space: nowrap;
	text-align: left;
	font-family: Adobe Garamond Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#O_Emprego_dos_seus_sonhos_te_e {
	left: 487px;
	top: 238px;
	position: absolute;
	overflow: visible;
	width: 948px;
	white-space: nowrap;
	text-align: left;
	font-family: Bahnschrift;
	font-style: normal;
	font-weight: normal;
	font-size: 55px;
	color: rgba(255,255,255,1);
}
#Retngulo_11 {
	fill: rgba(255,255,255,1);
}
.Retngulo_11 {
	position: absolute;
	overflow: visible;
	width: 436px;
	height: 33px;
	left: 495px;
	top: 384px;
}
#Retngulo_12 {
	fill: rgba(255,255,255,1);
}
.Retngulo_12 {
	position: absolute;
	overflow: visible;
	width: 436px;
	height: 33px;
	left: 943px;
	top: 384px;
}
#Retngulo_13_bp {
	fill: url(#Retngulo_13_bp);
}
.Retngulo_13_bp {
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 33px;
	left: 1386px;
	top: 384px;
}
#Icon_awesome-search {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-search {
	overflow: visible;
	position: absolute;
	width: 31.091px;
	height: 33px;
	left: 1391px;
	top: 383.914px;
	transform: matrix(1,0,0,1,0,0);
}
#Cargo_empresa_ou_palavra-chave {
	opacity: 0.45;
	left: 502px;
	top: 389px;
	position: absolute;
	overflow: visible;
	width: 270px;
	white-space: nowrap;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Cidade_estado_ou_CEP {
	opacity: 0.45;
	left: 956px;
	top: 389px;
	position: absolute;
	overflow: visible;
	width: 182px;
	white-space: nowrap;
	text-align: left;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Com_listas_de_empregos_verific {
	opacity: 0.71;
	left: 594px;
	top: 449px;
	position: absolute;
	overflow: visible;
	width: 733px;
	white-space: nowrap;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Assuma_o_controle_de_sua_procu {
	left: 513px;
	top: 559px;
	position: absolute;
	overflow: visible;
	width: 895px;
	white-space: nowrap;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,1);
}
#Alertas_de_trabalho_Automatize {
	left: 498.5px;
	top: 768px;
	position: absolute;
	overflow: visible;
	width: 313px;
	white-space: nowrap;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Icon_zocial-email_bw {
	fill: rgba(255,255,255,1);
}
.Icon_zocial-email_bw {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.729));
	overflow: visible;
	position: absolute;
	width: 46.061px;
	height: 36.942px;
	left: 521.439px;
	top: 772.852px;
	transform: matrix(1,0,0,1,0,0);
}
#Trabalhos_salvos_No_comece_de_ {
	left: 813.5px;
	top: 768px;
	position: absolute;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Histrico_de_pesquisa_Salve_sua {
	left: 1135.5px;
	top: 768px;
	position: absolute;
	overflow: visible;
	width: 287px;
	white-space: nowrap;
	text-align: center;
	font-family: Calibri;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Icon_ionic-ios-heart {
	fill: rgba(255,255,255,1);
}
.Icon_ionic-ios-heart {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.761));
	overflow: visible;
	position: absolute;
	width: 47.25px;
	height: 46.125px;
	left: 847.5px;
	top: 768.631px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-menu {
	fill: rgba(255,255,255,1);
}
.Icon_material-menu {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.631));
	overflow: visible;
	position: absolute;
	width: 45px;
	height: 36px;
	left: 1139.5px;
	top: 772.966px;
	transform: matrix(1,0,0,1,0,0);
}
#Retngulo_15_b {
	fill: url(#Retngulo_15_b);
}
.Retngulo_15_b {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.439));
	position: absolute;
	overflow: visible;
	width: 337px;
	height: 81px;
	left: 801px;
	top: 955px;
}
#CRIE_SUA_CONTA_AQUI {
	left: 841px;
	top: 972px;
	position: absolute;
	overflow: visible;
	width: 239px;
	white-space: nowrap;
	text-align: center;
	font-family: Adobe Arabic;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#HOME {
	left: 817px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: center;
	font-family: Adobe Arabic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(114,113,113,1);
}
#EMPREGOS {
	left: 900px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	transition: all 0.3s ease-out;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Empregos.html;
	cursor: pointer;
	text-align: center;
	font-family: Adobe Arabic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(114,113,113,1);
}
#Linha_1 {
	fill: transparent;
	stroke: rgba(247,158,1,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Linha_1 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 100px;
	left: 808px;
	top: 768.714px;
	transform: matrix(1,0,0,1,0,0);
}
#Linha_2 {
	fill: transparent;
	stroke: rgba(235,124,2,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Linha_2 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 95px;
	left: 1127px;
	top: 774.109px;
	transform: matrix(1,0,0,1,0,0);
}
#EMPREGADORES {
	left: 1025px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	transition: all 0.1s ease-out;
	--web-animation: fadein 0.1s ease-out;
	--web-action-type: page;
	--web-action-target: Candidatos.html;
	cursor: pointer;
	text-align: center;
	font-family: Adobe Arabic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(114,113,113,1);
}
#Takinamao_b {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.89));
	left: 596px;
	top: 1120px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: left;
	font-family: ArtBrush;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Quem_somos {
	left: 594px;
	top: 1161px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	text-align: center;
	font-family: Adobe Arabic;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Para_que_servimos {
	left: 882px;
	top: 1161px;
	position: absolute;
	overflow: visible;
	width: 171px;
	white-space: nowrap;
	text-align: center;
	font-family: Adobe Arabic;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Recursos {
	left: 1184px;
	top: 1161px;
	position: absolute;
	overflow: visible;
	width: 83px;
	white-space: nowrap;
	text-align: center;
	font-family: Adobe Arabic;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Sobre_ns {
	left: 594px;
	top: 1193px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: center;
	font-family: Adobe Arabic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Contate-nos {
	left: 594px;
	top: 1221px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: center;
	font-family: Adobe Arabic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Candidatos {
	left: 882px;
	top: 1193px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: center;
	font-family: Adobe Arabic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Empregadores {
	left: 882px;
	top: 1221px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	text-align: center;
	font-family: Adobe Arabic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Como_publicar_vagas {
	left: 1184px;
	top: 1193px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: center;
	font-family: Adobe Arabic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Como_Anunciar_Publicidade {
	left: 1184px;
	top: 1221px;
	position: absolute;
	overflow: visible;
	width: 215px;
	white-space: nowrap;
	text-align: center;
	font-family: Adobe Arabic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#CONTATO {
	left: 1198px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: center;
	font-family: Adobe Arabic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(114,113,113,1);
}
#ENTRAR {
	left: 1315px;
	top: 61px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	transition: all 0.1s ease-out;
	--web-animation: fadein 0.1s ease-out;
	--web-action-type: page;
	--web-action-target: Login_candidato.html;
	cursor: pointer;
	text-align: center;
	font-family: Adobe Arabic;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(114,113,113,1);
}