@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cadastrar_empregador</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="Cadastrar_empregador.css"/>
<script id="applicationScript" type="text/javascript" src="Cadastrar_empregador.js"></script>
</head>
<body>
<div id="Cadastrar_empregador">
	<div id="Grupo_369">
		<svg class="Elipse_25_">
			<linearGradient id="Elipse_25_" spreadMethod="pad" x1="0.5" x2="2.383" y1="0" y2="-0.898">
				<stop offset="0" stop-color="#df5c04" stop-opacity="1"></stop>
				<stop offset="0.1716" stop-color="#ffb300" stop-opacity="1"></stop>
				<stop offset="0.4393" stop-color="#e8ba04" stop-opacity="1"></stop>
				<stop offset="1" stop-color="#e5cf05" stop-opacity="1"></stop>
			</linearGradient>
			<ellipse id="Elipse_25_" rx="1416.5" ry="1407" cx="1416.5" cy="1407">
			</ellipse>
		</svg>
		<svg class="Elipse_27">
			<ellipse id="Elipse_27" rx="1524" ry="1514" cx="1524" cy="1514">
			</ellipse>
		</svg>
		<svg class="Elipse_28">
			<ellipse id="Elipse_28" rx="1225.5" ry="1217.5" cx="1225.5" cy="1217.5">
			</ellipse>
		</svg>
		<svg class="Elipse_26">
			<ellipse id="Elipse_26" rx="1404" ry="1394" cx="1404" cy="1394">
			</ellipse>
		</svg>
		<svg class="Elipse_29">
			<ellipse id="Elipse_29" rx="1584" ry="1572.5" cx="1584" cy="1572.5">
			</ellipse>
		</svg>
	</div>
	<svg class="Caminho_3" viewBox="0 0 1920 1179.565">
		<path id="Caminho_3" d="M 0 0 L 958.34375 0 L 1920 0 L 1920 1179.56494140625 L 0 1179.56494140625 L 0 0 Z">
		</path>
	</svg>
	<div id="Dark___ComponentHeader_Label" class="Dark______Component_Header_Label">
		<div id="Label_Left">
			<span>App Bars: Top</span>
		</div>
		<div id="Label_Left_">
			<span>Material Design</span>
		</div>
		<svg class="Divider">
			<rect id="Divider" rx="0" ry="0" x="0" y="0" width="904" height="1">
			</rect>
		</svg>
		<div id="ic_material_design_white_24dp">
			<svg class="Shape" viewBox="0 0 22.055 22.055">
				<path id="Shape" d="M 11.02680015563965 22.05450057983398 C 4.946599960327148 22.05450057983398 0 17.10749053955078 0 11.02680015563965 C 0 4.946599960327148 4.946599960327148 0 11.02680015563965 0 C 17.10749053955078 0 22.05450057983398 4.946599960327148 22.05450057983398 11.02680015563965 C 22.05450057983398 17.10749053955078 17.10749053955078 22.05450057983398 11.02680015563965 22.05450057983398 Z M 5.372999668121338 18.04409980773926 C 6.967049598693848 19.3371696472168 8.974940299987793 20.04930114746094 11.02680015563965 20.04930114746094 C 13.09897994995117 20.04930114746094 15.05403995513916 19.35590934753418 16.68060111999512 18.04409980773926 L 5.372999668121338 18.04409980773926 Z M 18.04409980773926 5.382899761199951 L 18.04409980773926 16.68060111999512 C 19.35530090332031 15.06515026092529 20.04930114746094 13.11032009124756 20.04930114746094 11.02680015563965 C 20.04930114746094 8.975000381469727 19.35590934753418 7.023369789123535 18.04409980773926 5.382899761199951 Z M 4.009500026702881 5.382899761199951 C 2.698280096054077 7.022639751434326 2.005200147628784 8.974269866943359 2.005200147628784 11.02680015563965 C 2.005200147628784 13.11007022857666 2.698270082473755 15.06512069702148 4.009500026702881 16.68060111999512 L 4.009500026702881 5.382899761199951 Z M 16.03890037536621 8.019900321960449 L 12.02939987182617 16.03890037536621 L 16.03890037536621 16.03890037536621 L 16.03890037536621 8.019900321960449 Z M 6.015051364898682 8.020603179931641 L 6.013929843902588 8.020870208740234 L 6.014699935913086 16.03890037536621 L 10.02420043945313 16.03890037536621 L 6.015051364898682 8.020603179931641 Z M 7.257599830627441 6.014699935913086 L 11.02680015563965 13.56300067901611 L 14.80590057373047 6.014699935913086 L 7.257599830627441 6.014699935913086 Z M 11.02680015563965 2.005200147628784 C 8.944470405578613 2.005200147628784 6.989419937133789 2.698270082473755 5.372999668121338 4.009500026702881 L 16.68060111999512 4.009500026702881 C 15.06587982177734 2.698889970779419 13.11104011535645 2.005200147628784 11.02680015563965 2.005200147628784 Z">
				</path>
			</svg>
		</div>
	</div>
	<svg class="Retngulo_7_be">
		<linearGradient id="Retngulo_7_be" spreadMethod="pad" x1="0.187" x2="0.85" y1="1" y2="17.637">
			<stop offset="0" stop-color="#df5c04" stop-opacity="1"></stop>
			<stop offset="0.1496" stop-color="#ffb300" stop-opacity="1"></stop>
			<stop offset="0.3794" stop-color="#e8ba04" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#e5cf05" stop-opacity="1"></stop>
		</linearGradient>
		<rect id="Retngulo_7_be" rx="0" ry="0" x="0" y="0" width="1920" height="30">
		</rect>
	</svg>
	<svg class="Retngulo_8">
		<rect id="Retngulo_8" rx="0" ry="0" x="0" y="0" width="1920" height="90">
		</rect>
	</svg>
	<div id="CADASTRAR">
		<span>CADASTRAR</span>
	</div>
	<div id="Grupo_370">
		<img id="escritorio-de-coworking" src="escritorio-de-coworking.png" srcset="escritorio-de-coworking.png 1x, escritorio-de-coworking@2x.png 2x">
			
		<svg class="Retngulo_20">
			<rect id="Retngulo_20" rx="78" ry="78" x="0" y="0" width="651" height="724">
			</rect>
		</svg>
		<svg class="Retngulo_21">
			<rect id="Retngulo_21" rx="4" ry="4" x="0" y="0" width="456" height="724">
			</rect>
		</svg>
	</div>
	<svg class="Linha_5" viewBox="0 0 462 1">
		<path id="Linha_5" d="M 0 0 L 462 0">
		</path>
	</svg>
	<svg class="Linha_6" viewBox="0 0 462 1">
		<path id="Linha_6" d="M 0 0 L 462 0">
		</path>
	</svg>
	<svg class="Linha_7" viewBox="0 0 462 1">
		<path id="Linha_7" d="M 0 0 L 462 0">
		</path>
	</svg>
	<svg class="Retngulo_30_bp">
		<linearGradient id="Retngulo_30_bp" spreadMethod="pad" x1="0.187" x2="1.893" y1="1" y2="1.1">
			<stop offset="0" stop-color="#df5c04" stop-opacity="1"></stop>
			<stop offset="0.1496" stop-color="#ffb300" stop-opacity="1"></stop>
			<stop offset="0.3794" stop-color="#e8ba04" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#e5cf05" stop-opacity="1"></stop>
		</linearGradient>
		<rect id="Retngulo_30_bp" rx="0" ry="0" x="0" y="0" width="319" height="63">
		</rect>
	</svg>
	<div id="CADASTRO_DE_EMPREGADOR">
		<span>CADASTRO DE EMPREGADOR</span>
	</div>
	<div id="CADASTRAR_br">
		<span>CADASTRAR</span>
	</div>
	<div id="Nome">
		<span>Nome</span>
	</div>
	<div id="Email">
		<span>Email</span>
	</div>
	<div id="Senha">
		<span>Senha</span>
	</div>
	<div id="icontogglecheck_box_24px" class="icon_toggle_check_box_24px">
		<svg class="Boundary">
			<rect id="Boundary" rx="0" ry="0" x="0" y="0" width="24" height="24">
			</rect>
		</svg>
		<svg class="_Color" viewBox="0 0 18 18">
			<path id="_Color" d="M 16.00020027160645 18 L 1.999799966812134 18 C 0.8971099853515625 18 0 17.10289001464844 0 16.00020027160645 L 0 1.999799966812134 C 0 0.8971099853515625 0.8971099853515625 0 1.999799966812134 0 L 16.00020027160645 0 C 17.10289001464844 0 18 0.8971099853515625 18 1.999799966812134 L 18 16.00020027160645 C 18 17.10289001464844 17.10289001464844 18 16.00020027160645 18 Z M 3.410099983215332 7.589690208435059 L 3.41008996963501 7.589700222015381 L 1.999799966812134 9 L 7.000199794769287 14.00039958953857 L 16.00020027160645 5.000400066375732 L 14.58990001678467 3.580199956893921 L 7.000199794769287 11.16989994049072 L 3.410099983215332 7.589700222015381 L 3.410099983215332 7.589690208435059 Z">
			</path>
		</svg>
	</div>
	<div id="Termos_de_uso">
		<span>Termos de uso</span>
	</div>
	<div onclick="application.goToTargetView(event)" id="ENTRAR">
		<span>ENTRAR</span>
	</div>
	<div onclick="application.goToTargetView(event)" id="CANCELAR">
		<span>CANCELAR</span>
	</div>
</div>
</body>
</html>


Messages:
1. Exported image: escritorio-de-coworking.png (1.15MB)
2. Exported image: escritorio-de-coworking@2x.png (1009.4k)
3. Exported image: Total image size 1.15MB

Warnings:
1. Border support: Border position "inside" on "Caminho_3"  is not supported
2. Duplicate ID: The Ellipse named, "Elipse 25" on artboard, "Cadastrar_empregador" was renamed to, "Elipse_25_"
3. Duplicate ID: The Text named, "Label Left" on artboard, "Cadastrar_empregador" was renamed to, "Label_Left_"
4. Duplicate ID: The Rectangle named, "Retângulo 7" on artboard, "Cadastrar_empregador" was renamed to, "Retngulo_7_be"
5. Duplicate ID: The Rectangle named, "Retângulo 30" on artboard, "Cadastrar_empregador" was renamed to, "Retngulo_30_bp"
6. Duplicate ID: The Text named, "CADASTRAR" on artboard, "Cadastrar_empregador" was renamed to, "CADASTRAR_br"
