@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Quem somos</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="Quem_somos.css"/>
<script id="applicationScript" type="text/javascript" src="Quem_somos.js"></script>
</head>
<body>
<div id="Quem_somos">
	<div id="Grupo_369">
		<svg class="Elipse_25_">
			<linearGradient id="Elipse_25_" spreadMethod="pad" x1="0.5" x2="2.383" y1="0" y2="-0.898">
				<stop offset="0" stop-color="#df5c04" stop-opacity="1"></stop>
				<stop offset="0.1716" stop-color="#ffb300" stop-opacity="1"></stop>
				<stop offset="0.4393" stop-color="#e8ba04" stop-opacity="1"></stop>
				<stop offset="1" stop-color="#e5cf05" stop-opacity="1"></stop>
			</linearGradient>
			<ellipse id="Elipse_25_" rx="1416.5" ry="1407" cx="1416.5" cy="1407">
			</ellipse>
		</svg>
		<svg class="Elipse_27">
			<ellipse id="Elipse_27" rx="1524" ry="1514" cx="1524" cy="1514">
			</ellipse>
		</svg>
		<svg class="Elipse_28">
			<ellipse id="Elipse_28" rx="1225.5" ry="1217.5" cx="1225.5" cy="1217.5">
			</ellipse>
		</svg>
		<svg class="Elipse_26">
			<ellipse id="Elipse_26" rx="1404" ry="1394" cx="1404" cy="1394">
			</ellipse>
		</svg>
		<svg class="Elipse_29">
			<ellipse id="Elipse_29" rx="1584" ry="1572.5" cx="1584" cy="1572.5">
			</ellipse>
		</svg>
	</div>
	<svg class="Retngulo_16">
		<rect id="Retngulo_16" rx="0" ry="0" x="0" y="0" width="1920" height="984">
		</rect>
	</svg>
	<div id="Dark___ComponentHeader_Label" class="Dark______Component_Header_Label">
		<div id="Label_Left">
			<span>App Bars: Top</span>
		</div>
		<div id="Label_Left_">
			<span>Material Design</span>
		</div>
		<svg class="Divider">
			<rect id="Divider" rx="0" ry="0" x="0" y="0" width="904" height="1">
			</rect>
		</svg>
		<div id="ic_material_design_white_24dp">
			<svg class="Shape" viewBox="0 0 22.055 22.055">
				<path id="Shape" d="M 11.02680015563965 22.05450057983398 C 4.946599960327148 22.05450057983398 0 17.10749053955078 0 11.02680015563965 C 0 4.946599960327148 4.946599960327148 0 11.02680015563965 0 C 17.10749053955078 0 22.05450057983398 4.946599960327148 22.05450057983398 11.02680015563965 C 22.05450057983398 17.10749053955078 17.10749053955078 22.05450057983398 11.02680015563965 22.05450057983398 Z M 5.372999668121338 18.04409980773926 C 6.967049598693848 19.3371696472168 8.974940299987793 20.04930114746094 11.02680015563965 20.04930114746094 C 13.09897994995117 20.04930114746094 15.05403995513916 19.35590934753418 16.68060111999512 18.04409980773926 L 5.372999668121338 18.04409980773926 Z M 18.04409980773926 5.382899761199951 L 18.04409980773926 16.68060111999512 C 19.35530090332031 15.06515026092529 20.04930114746094 13.11032009124756 20.04930114746094 11.02680015563965 C 20.04930114746094 8.975000381469727 19.35590934753418 7.023369789123535 18.04409980773926 5.382899761199951 Z M 4.009500026702881 5.382899761199951 C 2.698280096054077 7.022639751434326 2.005200147628784 8.974269866943359 2.005200147628784 11.02680015563965 C 2.005200147628784 13.11007022857666 2.698270082473755 15.06512069702148 4.009500026702881 16.68060111999512 L 4.009500026702881 5.382899761199951 Z M 16.03890037536621 8.019900321960449 L 12.02939987182617 16.03890037536621 L 16.03890037536621 16.03890037536621 L 16.03890037536621 8.019900321960449 Z M 6.015051364898682 8.020603179931641 L 6.013929843902588 8.020870208740234 L 6.014699935913086 16.03890037536621 L 10.02420043945313 16.03890037536621 L 6.015051364898682 8.020603179931641 Z M 7.257599830627441 6.014699935913086 L 11.02680015563965 13.56300067901611 L 14.80590057373047 6.014699935913086 L 7.257599830627441 6.014699935913086 Z M 11.02680015563965 2.005200147628784 C 8.944470405578613 2.005200147628784 6.989419937133789 2.698270082473755 5.372999668121338 4.009500026702881 L 16.68060111999512 4.009500026702881 C 15.06587982177734 2.698889970779419 13.11104011535645 2.005200147628784 11.02680015563965 2.005200147628784 Z">
				</path>
			</svg>
		</div>
	</div>
	<svg class="Retngulo_7_be">
		<linearGradient id="Retngulo_7_be" spreadMethod="pad" x1="0.187" x2="0.85" y1="1" y2="17.637">
			<stop offset="0" stop-color="#df5c04" stop-opacity="1"></stop>
			<stop offset="0.1496" stop-color="#ffb300" stop-opacity="1"></stop>
			<stop offset="0.3794" stop-color="#e8ba04" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#e5cf05" stop-opacity="1"></stop>
		</linearGradient>
		<rect id="Retngulo_7_be" rx="0" ry="0" x="0" y="0" width="1920" height="30">
		</rect>
	</svg>
	<svg class="Retngulo_8">
		<rect id="Retngulo_8" rx="0" ry="0" x="0" y="0" width="1920" height="90">
		</rect>
	</svg>
	<svg class="Retngulo_10">
		<rect id="Retngulo_10" rx="0" ry="0" x="0" y="0" width="1920" height="984">
		</rect>
	</svg>
	<svg class="Icon_zocial-email" viewBox="0.072 4.068 28.061 18.942">
		<path id="Icon_zocial-email" d="M 0.07199999690055847 21.33212471008301 L 0.07199999690055847 5.745704174041748 C 0.07199999690055847 5.727664947509766 0.09905975311994553 5.556286334991455 0.1531792730093002 5.231568813323975 L 9.326436996459961 13.07889842987061 L 0.1802394390106201 21.87331962585449 C 0.1080800965428352 21.62076187133789 0.0720004215836525 21.44036293029785 0.0720004215836525 21.33212471008301 Z M 1.289688944816589 4.149179458618164 C 1.41596782207489 4.095059871673584 1.569306373596191 4.068000316619873 1.749704718589783 4.068000316619873 L 26.45526313781738 4.068000316619873 C 26.61762046813965 4.068000316619873 26.77997970581055 4.095059871673584 26.94233703613281 4.149179458618164 L 17.74202156066895 12.02356910705566 L 16.52433204650879 12.99771976470947 L 14.11601161956787 14.97308254241943 L 11.70769309997559 12.99771976470947 L 10.49000453948975 12.02356910705566 L 1.289688944816589 4.149179458618164 Z M 1.316748738288879 22.92864990234375 L 10.54412460327148 14.08011054992676 L 14.1160135269165 16.97550392150879 L 17.68790054321289 14.08011054992676 L 26.91527938842773 22.92864990234375 C 26.77096176147461 22.98276901245117 26.61762046813965 23.00982856750488 26.45526313781738 23.00982856750488 L 1.74970543384552 23.00982856750488 C 1.6053866147995 23.00982856750488 1.461068034172058 22.98276901245117 1.316749334335327 22.92864990234375 Z M 18.90559005737305 13.07889842987061 L 28.05178833007813 5.231569766998291 C 28.10591125488281 5.393928050994873 28.13296890258789 5.565306663513184 28.13296890258789 5.745705127716064 L 28.13296890258789 21.33212471008301 C 28.13296890258789 21.49448204040527 28.10591125488281 21.67488098144531 28.05178833007813 21.87331771850586 L 18.90559005737305 13.07889842987061 Z">
		</path>
	</svg>
	<div id="contatotakinamaocom">
		<span>contato@takinamao.com</span>
	</div>
	<img id="ID1" src="ID1.png" srcset="ID1.png 1x, ID1@2x.png 2x">
		
	<div id="Takinamao">
		<span>Takinamao</span>
	</div>
	<div id="a_Soluo">
		<span>a Solução</span>
	</div>
	<div onclick="application.goToTargetView(event)" id="HOME">
		<span>HOME</span>
	</div>
	<div onclick="application.goToTargetView(event)" id="EMPREGOS">
		<span>EMPREGOS</span>
	</div>
	<div onclick="application.goToTargetView(event)" id="EMPREGADORES">
		<span>EMPREGADORES</span>
	</div>
	<div id="Takinamao_bp">
		<span>Takinamao</span>
	</div>
	<div id="Quem_somos_bq">
		<span>Quem somos</span>
	</div>
	<div id="Para_que_servimos">
		<span>Para que servimos</span>
	</div>
	<div id="Recursos">
		<span>Recursos</span>
	</div>
	<div id="Sobre_ns">
		<span>Sobre nós</span>
	</div>
	<div id="Contate-nos">
		<span>Contate-nos</span>
	</div>
	<div onclick="application.goToTargetView(event)" id="Candidatos">
		<span>Candidatos</span>
	</div>
	<div onclick="application.goToTargetView(event)" id="Empregadores">
		<span>Empregadores</span>
	</div>
	<div id="Como_publicar_vagas">
		<span>Como publicar vagas</span>
	</div>
	<img id="formato-do-escritorio-tem-a-ve" src="formato-do-escritorio-tem-a-ve.png" srcset="formato-do-escritorio-tem-a-ve.png 1x, formato-do-escritorio-tem-a-ve@2x.png 2x">
		
	<div id="Como_Anunciar_Publicidade">
		<span>Como Anunciar Publicidade</span>
	</div>
	<div onclick="application.goToTargetView(event)" id="CONTATO">
		<span>CONTATO</span>
	</div>
	<div onclick="application.goToTargetView(event)" id="ENTRAR">
		<span>ENTRAR</span>
	</div>
	<div id="QUEM_SOMOS">
		<span>QUEM SOMOS</span>
	</div>
	<div id="Takinamao_b">
		<span>Takinamao</span>
	</div>
	<div id="_uma_empresa_de_marketing_digi">
		<span>é uma empresa de marketing digital que tem como objetivo<br/>auxiliar empresas de diversos seguimentos a ter maior visibilidade no<br/>mundo WEB e com isso se destacarem cada vez mais no mercado.<br/><br/>Para que tudo isso ocorra, contamos com um grupo de profissionais<br/>dedicados e comprometidos a fazer nossa empresa uma referência <br/>no seguimento e com isso levar facilidade para quem acessa nosso portal.</span>
	</div>
	<div id="Grupo_377">
		<div id="Grupo_376">
			<svg class="Polgono_4" viewBox="0 0 82 95">
				<path id="Polgono_4" d="M 33.65486145019531 17.01922035217285 C 36.43422698974609 10.57923030853271 45.56577301025391 10.5792293548584 48.34513473510742 17.01921844482422 L 77.17926788330078 83.82999420166016 C 79.45851898193359 89.11119842529297 75.58618927001953 95 69.83412933349609 95 L 12.16587448120117 95 C 6.413817882537842 95 2.541481018066406 89.1112060546875 4.820738315582275 83.82999420166016 Z">
				</path>
			</svg>
			<svg class="Polgono_5" viewBox="0 0 82 93">
				<path id="Polgono_5" d="M 34.59482955932617 14.52880573272705 C 37.04966354370117 8.960519790649414 44.95033645629883 8.960518836975098 47.40517425537109 14.52880382537842 L 77.66909790039063 83.17621612548828 C 79.70889282226563 87.80309295654297 76.32048034667969 92.99999237060547 71.263916015625 92.99999237060547 L 10.7360897064209 92.99999237060547 C 5.679529190063477 92.99999237060547 2.291110515594482 87.80309295654297 4.330916404724121 83.17620849609375 Z">
				</path>
			</svg>
			<svg class="Polgono_9" viewBox="0 0 8.293 3.02">
				<path id="Polgono_9" d="M 4.146702289581299 0 L 8.293405532836914 3.020466804504395 L 0 3.020466804504395 Z">
				</path>
			</svg>
			<svg class="Retngulo_36">
				<rect id="Retngulo_36" rx="0" ry="0" x="0" y="0" width="349" height="83">
				</rect>
			</svg>
			<svg class="Polgono_6" viewBox="0 0 84 95">
				<path id="Polgono_6" d="M 42 0 L 84 95.00000762939453 L 0 95.00000762939453 Z">
				</path>
			</svg>
			<svg class="Polgono_7" viewBox="0 0 84 95">
				<path id="Polgono_7" d="M 42 0 L 84 95 L 0 95 Z">
				</path>
			</svg>
			<svg class="Polgono_8" viewBox="0 0 6 7">
				<path id="Polgono_8" d="M 3 0 L 6 7 L 0 7 Z">
				</path>
			</svg>
		</div>
		<svg class="Linha_8" viewBox="0 0 41 93">
			<path id="Linha_8" d="M 0 0 L 41 93">
			</path>
		</svg>
	</div>
	<div id="MISSO">
		<span>MISSÃO</span>
	</div>
	<div id="Trazer_visibilidade_a_nossos_c">
		<span>Trazer visibilidade a nossos clientes<br/>e facilitar a vidada dos usuários na<br/>busca de produtos eou serviços</span>
	</div>
	<div id="Grupo_378">
		<div id="Grupo_376_ci">
			<svg class="Polgono_4_cj" viewBox="0 0 82 95">
				<path id="Polgono_4_cj" d="M 33.65486145019531 17.01922035217285 C 36.43422698974609 10.57923030853271 45.56577301025391 10.5792293548584 48.34513473510742 17.01921844482422 L 77.17926788330078 83.82999420166016 C 79.45851898193359 89.11119842529297 75.58618927001953 95 69.83412933349609 95 L 12.16587448120117 95 C 6.413817882537842 95 2.541481018066406 89.1112060546875 4.820738315582275 83.82999420166016 Z">
				</path>
			</svg>
			<svg class="Polgono_5_ck" viewBox="0 0 82 93">
				<path id="Polgono_5_ck" d="M 34.59482955932617 14.52880573272705 C 37.04966354370117 8.960519790649414 44.95033645629883 8.960518836975098 47.40517425537109 14.52880382537842 L 77.66909790039063 83.17621612548828 C 79.70889282226563 87.80309295654297 76.32048034667969 92.99999237060547 71.263916015625 92.99999237060547 L 10.7360897064209 92.99999237060547 C 5.679529190063477 92.99999237060547 2.291110515594482 87.80309295654297 4.330916404724121 83.17620849609375 Z">
				</path>
			</svg>
			<svg class="Polgono_9_cl" viewBox="0 0 8.293 3.02">
				<path id="Polgono_9_cl" d="M 4.146702289581299 0 L 8.293405532836914 3.020466804504395 L 0 3.020466804504395 Z">
				</path>
			</svg>
			<svg class="Retngulo_36_cm">
				<rect id="Retngulo_36_cm" rx="0" ry="0" x="0" y="0" width="349" height="83">
				</rect>
			</svg>
			<svg class="Polgono_6_cn" viewBox="0 0 84 95">
				<path id="Polgono_6_cn" d="M 42 0 L 84 95.00000762939453 L 0 95.00000762939453 Z">
				</path>
			</svg>
			<svg class="Polgono_7_co" viewBox="0 0 84 95">
				<path id="Polgono_7_co" d="M 42 0 L 84 95 L 0 95 Z">
				</path>
			</svg>
			<svg class="Polgono_8_cp" viewBox="0 0 6 7">
				<path id="Polgono_8_cp" d="M 3 0 L 6 7 L 0 7 Z">
				</path>
			</svg>
		</div>
		<svg class="Linha_8_cq" viewBox="0 0 41 93">
			<path id="Linha_8_cq" d="M 0 0 L 41 93">
			</path>
		</svg>
	</div>
	<div id="Grupo_379">
		<div id="Grupo_376_cs">
			<svg class="Polgono_4_ct" viewBox="0 0 82 95">
				<path id="Polgono_4_ct" d="M 33.65486145019531 17.01922035217285 C 36.43422698974609 10.57923030853271 45.56577301025391 10.5792293548584 48.34513473510742 17.01921844482422 L 77.17926788330078 83.82999420166016 C 79.45851898193359 89.11119842529297 75.58618927001953 95 69.83412933349609 95 L 12.16587448120117 95 C 6.413817882537842 95 2.541481018066406 89.1112060546875 4.820738315582275 83.82999420166016 Z">
				</path>
			</svg>
			<svg class="Polgono_5_cu" viewBox="0 0 82 93">
				<path id="Polgono_5_cu" d="M 34.59482955932617 14.52880573272705 C 37.04966354370117 8.960519790649414 44.95033645629883 8.960518836975098 47.40517425537109 14.52880382537842 L 77.66909790039063 83.17621612548828 C 79.70889282226563 87.80309295654297 76.32048034667969 92.99999237060547 71.263916015625 92.99999237060547 L 10.7360897064209 92.99999237060547 C 5.679529190063477 92.99999237060547 2.291110515594482 87.80309295654297 4.330916404724121 83.17620849609375 Z">
				</path>
			</svg>
			<svg class="Polgono_9_cv" viewBox="0 0 8.293 3.02">
				<path id="Polgono_9_cv" d="M 4.146702289581299 0 L 8.293405532836914 3.020466804504395 L 0 3.020466804504395 Z">
				</path>
			</svg>
			<svg class="Retngulo_36_cw">
				<rect id="Retngulo_36_cw" rx="0" ry="0" x="0" y="0" width="349" height="83">
				</rect>
			</svg>
			<svg class="Polgono_6_cx" viewBox="0 0 84 95">
				<path id="Polgono_6_cx" d="M 42 0 L 84 95.00000762939453 L 0 95.00000762939453 Z">
				</path>
			</svg>
			<svg class="Polgono_7_cy" viewBox="0 0 84 95">
				<path id="Polgono_7_cy" d="M 42 0 L 84 95 L 0 95 Z">
				</path>
			</svg>
			<svg class="Polgono_8_cz" viewBox="0 0 6 7">
				<path id="Polgono_8_cz" d="M 3 0 L 6 7 L 0 7 Z">
				</path>
			</svg>
		</div>
		<svg class="Caminho_4" viewBox="0 0 41 93">
			<path id="Caminho_4" d="M 0 0 L 41 93">
			</path>
		</svg>
	</div>
	<div id="VISO">
		<span>VISÃO</span>
	</div>
	<div id="VALORES">
		<span>VALORES</span>
	</div>
	<div id="Ser_um_grupo_competitivo_que_a">
		<span>Ser um grupo competitivo que atue<br/>de forma abrangente no segmento<br/>através da garra e determinação, com<br/>características e propostas únicas</span>
	</div>
	<div id="tica_Diversidade_Inovao_Respon">
		<span>Ética, Diversidade, Inovação<br/>Responsabilidade e Excelência</span>
	</div>
</div>
</body>
</html>


Messages:
1. Exported image: ID1.png (4.9k)
2. Exported image: ID1@2x.png (15.1k)
3. Exported image: formato-do-escritorio-tem-a-ve.png (2.09MB)
4. Exported image: formato-do-escritorio-tem-a-ve@2x.png (1.88MB)
5. Exported image: Total image size 2.1MB

Warnings:
1. ID truncated: The auto generated ID starting with 'formato-do-escritor…' was truncated
2. ID truncated: The auto generated ID starting with '_uma_empresa_de_mar…' was truncated
3. ID truncated: The auto generated ID starting with 'Trazer_visibilidade…' was truncated
4. ID truncated: The auto generated ID starting with 'Ser_um_grupo_compet…' was truncated
5. ID truncated: The auto generated ID starting with 'tica_Diversidade_In…' was truncated
6. Duplicate ID: The Ellipse named, "Elipse 25" on artboard, "Quem somos" was renamed to, "Elipse_25_"
7. Duplicate ID: The Text named, "Label Left" on artboard, "Quem somos" was renamed to, "Label_Left_"
8. Duplicate ID: The Rectangle named, "Retângulo 7" on artboard, "Quem somos" was renamed to, "Retngulo_7_be"
9. Duplicate ID: The Text named, "Takinamao" on artboard, "Quem somos" was renamed to, "Takinamao_bp"
10. Duplicate ID: The Text named, "Quem somos" on artboard, "Quem somos" was renamed to, "Quem_somos_bq"
11. Duplicate ID: The Text named, "Takinamao" on artboard, "Quem somos" was renamed to, "Takinamao_b"
12. Duplicate ID: The Group named, "Grupo 376" on artboard, "Quem somos" was renamed to, "Grupo_376_ci"
13. Duplicate ID: The Polygon named, "Polígono 4" on artboard, "Quem somos" was renamed to, "Polgono_4_cj"
14. Duplicate ID: The Polygon named, "Polígono 5" on artboard, "Quem somos" was renamed to, "Polgono_5_ck"
15. Duplicate ID: The Polygon named, "Polígono 9" on artboard, "Quem somos" was renamed to, "Polgono_9_cl"
16. Duplicate ID: The Rectangle named, "Retângulo 36" on artboard, "Quem somos" was renamed to, "Retngulo_36_cm"
17. Duplicate ID: The Polygon named, "Polígono 6" on artboard, "Quem somos" was renamed to, "Polgono_6_cn"
18. Duplicate ID: The Polygon named, "Polígono 7" on artboard, "Quem somos" was renamed to, "Polgono_7_co"
19. Duplicate ID: The Polygon named, "Polígono 8" on artboard, "Quem somos" was renamed to, "Polgono_8_cp"
20. Duplicate ID: The Line named, "Linha 8" on artboard, "Quem somos" was renamed to, "Linha_8_cq"
21. Duplicate ID: The Group named, "Grupo 376" on artboard, "Quem somos" was renamed to, "Grupo_376_cs"
22. Duplicate ID: The Polygon named, "Polígono 4" on artboard, "Quem somos" was renamed to, "Polgono_4_ct"
23. Duplicate ID: The Polygon named, "Polígono 5" on artboard, "Quem somos" was renamed to, "Polgono_5_cu"
24. Duplicate ID: The Polygon named, "Polígono 9" on artboard, "Quem somos" was renamed to, "Polgono_9_cv"
25. Duplicate ID: The Rectangle named, "Retângulo 36" on artboard, "Quem somos" was renamed to, "Retngulo_36_cw"
26. Duplicate ID: The Polygon named, "Polígono 6" on artboard, "Quem somos" was renamed to, "Polgono_6_cx"
27. Duplicate ID: The Polygon named, "Polígono 7" on artboard, "Quem somos" was renamed to, "Polgono_7_cy"
28. Duplicate ID: The Polygon named, "Polígono 8" on artboard, "Quem somos" was renamed to, "Polgono_8_cz"
